<mat-card class="card-politico">



    <mat-card-header>    
        <div mat-card-avatar class="header-image"><img src="{{candidato.ruta_archivo}}" /></div>
    
        <mat-card-title class="title">
    
            <span class="card-name">
                {{candidato.jne_posicion}}. {{candidato.nombres}} {{candidato.apellido_paterno}} {{candidato.apellido_materno}}
            </span>
           <!-- <span class="card-position">
                {{candidato.jne_posicion}}
            </span>
            -->
        </mat-card-title>
        <mat-card-subtitle> {{candidato.profesion}} </mat-card-subtitle>
    
    </mat-card-header>
    <mat-card-content class="container">
        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span [ngSwitch]="indicador.indicador_categoria">
                <span *ngSwitchCase="12"> indicador_categoria | EX-{{indicador.indicador_categoria}}</span>
                <span *ngSwitchDefault> indicador_categoria | {{indicador.indicador_categoria}}</span> 
                </span>
                <br>
            </span>
        </p>
        
        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span *ngIf="i==0"></span> indicador_categoria_id | {{indicador.indicador_categoria_id}}
                <br>
            </span>
        </p>

        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span *ngIf="i==0"></span> indicador | {{indicador.indicador}}
                <br>
            </span>
        </p>

        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span *ngIf="i==0"></span> indicador_id | {{indicador.indicador_id}}
                <br>
            </span>
        </p>

        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span *ngIf="i==0"></span> cantidad | {{indicador.cantidad}}
                <br>
            </span>
        </p>

        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span *ngIf="i==0"></span> porcentaje | {{indicador.porcentaje}}
                <br>
            </span>
        </p>

        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span *ngIf="i==0"></span> alerta | {{indicador.alerta}}
                <br>
            </span>
        </p>
        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span *ngIf="i==0"></span> estado {{indicador.estado}}
                <br>
            </span>
        </p>

        <p>
            <span >
                 jne_idhojavida | {{candidato.jne_idhojavida}}
                <br>
            </span>
        </p>

          <p>
            <span >
                documento_identidad | {{candidato.documento_identidad}}
                <br>
            </span>
        </p>



    </mat-card-content>
    <hr>
    <mat-card-actions>
        <button  mat-button>
            <mat-icon>description</mat-icon> <span> Ver más</span>             
        </button>



    </mat-card-actions>
</mat-card>