<mat-card class="card-politico">



    <mat-card-header>
        <div mat-card-avatar class="header-image"><img src="{{candidato.ruta_archivo}}" /></div>

        <mat-card-title>{{candidato.nombres}} {{candidato.apellido_paterno}} {{candidato.apellido_materno}}
        </mat-card-title>
        <mat-card-subtitle> {{candidato.profesion}} </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content class="container">

    </mat-card-content>
    <hr>
    <mat-card-actions>



    </mat-card-actions>
</mat-card>