<div *ngIf="listParlamentoAndino">

     <div
     class="scroll"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     [scrollWindow]="false"
     (scrolled)="onScroll()"
     >
     <div class="wrapper">
          <div *ngFor="let candidato of listParlamentoAndino" class="candidato">
               <app-card-candidato [candidato]="candidato" [fromPartido]="fromPartido"></app-card-candidato> 
          </div>
     </div>
         
     </div>
     
     <div class="spinner">
          <mat-spinner *ngIf="showLoader"  diameter=40></mat-spinner>
      </div>
</div>
