<div class="container">
    <div class="slider-containers">

        <!--effect #1 -->
        <div class="slider-container">
            <div class="flexbox-slider flexbox-slider-1">
                <div class="flexbox-slide">
                    <!--<img src="https://picsum.photos/1000/666/?random" alt="Slide Image">-->
                    <div class="text-block">
                        <h3>¿En dónde votar?</h3>
                        <div class="text">
                            <p>Consulta tu Local de Votación y si eres Miembro de Mesa</p>
                            <p>Consulta con tu DNI</p>
                            <p><strong>Voto por turnos</strong> según el último dígito de tu DNI</p>
                        </div>
                    </div>
                </div>
                <div class="flexbox-slide">
                    <!--<img src="https://picsum.photos/1001/666/?random" alt="Slide Image">-->
                    <div class="text-block">
                        <h3>¿Cómo votar?</h3>
                        <div class="text">
                            <p>Ten en cuenta que son tres elecciones. En cada elección tienes derecho a votar por una organización política de tu preferencia, marcando con un aspa (X) o una
                                cruz (+) el símbolo que la representa. En la elección de congresistas y parlamento andino, escribe dos candidatos de tu preferencia.</p>
                        </div>
                    </div>
                </div>
                <div class="flexbox-slide">
                    <!--<img src="https://picsum.photos/1001/665/?random" alt="Slide Image">-->
                    <div class="text-block">
                        <h3>Precauciones ante el covid</h3>
                        <div class="text">
                            <p>Cumple las siguientes condiciones de seguridad sanitaria:</p>
                            <p><strong>El uso de mascarilla y careta</strong></p>
                            <p>además del distanciamiento físico y la higiene de manos, son las medidas más importantes para reducir el riesgo de transmisión</p>

                            <p><strong>Mantener el distanciamiento físico</strong></p>
                            <p>no menor de metro y medio. Se debe evitar en todo momento el contacto físico al saludar, despedirse, entre otros.</p>
                            
                            <p><strong>Lleva tu lapicero de tinta azul</strong></p>
                            <p>para que emitas tu voto en las elecciones y prevenir contagios de coronavirus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--
    <table id="fija">
        <tr>
            <td class="color">
                <h3>¿En dónde votar?</h3>
                <p>Consulta tu Local de Votación y si eres Miembro de Mesa</p>
                <p>Consulta con tu DNI</p>
                <p><strong>Voto por turnos</strong> según el último dígito de tu DNI</p>
            </td>
            <td class="color">
                <h3>¿Cómo votar?</h3>
                <p>Ten en cuenta que son tres elecciones. En cada elección tienes derecho a votar por una organización política de tu preferencia, marcando con un aspa (X) o una
                    cruz (+) el símbolo que la representa. En la elección de congresistas y parlamento andino, escribe dos candidatos de tu preferencia.</p>
            </td>
            <td class="color">
                <h3>Precauciones ante el covid</h3>
                <p>Cumple las siguientes condiciones de seguridad sanitaria:</p>
                <p><strong>El uso de mascarilla y careta</strong></p>
                <p>además del distanciamiento físico y la higiene de manos, son las medidas más importantes para reducir el riesgo de transmisión</p>
        
                <p><strong>Mantener el distanciamiento físico</strong></p>
                <p>no menor de metro y medio. Se debe evitar en todo momento el contacto físico al saludar, despedirse, entre otros.</p>
                
                <p><strong>Lleva tu lapicero de tinta azul</strong></p>
                <p>para que emitas tu voto en las elecciones y prevenir contagios de coronavirus</p>
            </td>

        </tr>
    </table>
    -->
</div> 
