.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.container {
  width: 1100px;
  margin: 0 auto 0;
}

.slider-containers {
  width: 100%;
  //margin-top: 60px;
}


.flexbox-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  visibility: hidden;
}
.section-title {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  //color: black;
  height: 50vh;
  
  h2 {
    font-size: 25px;
    font-weight: bold;
    //transform: rotate(-90deg);
    //white-space: nowrap;
    text-align: center;
    //font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 0.75px;
    color: #132158;
    opacity: 1;
  }
}

.flexbox-slider .flexbox-slide {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  width: 20%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  visibility: visible;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #999;
}

.flexbox-slider .flexbox-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  //content: "";
  display: block;
  width: 100%;
  height: 100%;
  //background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  opacity: 0;
}

.flexbox-slider .flexbox-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  //height: auto;
  //width: auto;
  //min-width: 100%;
  //min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.flexbox-slider .flexbox-slide .text-block {
  position: absolute;
  //left: 30px;
  //bottom: 30px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 400px;
  padding: 20px 20px 20px 20px;
  //margin: 30px 30px 30px 30px;
  border-radius: 5px;
  background-color:#00000029;
  color: #fff;
  //z-index: 4;
  visibility: hidden;
  
}


.flexbox-slider .flexbox-slide .text-block h3 {
  font-size: 20px;
  font-weight: 700;
}

.flexbox-slider:hover .flexbox-slide:hover {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 80%;
  //background-color:#f3f3f3;
  background-color:#F3F3F3 0% 0% no-repeat padding-box;
  
  .section-title{
    visibility: hidden;
  }
}

.flexbox-slider.flexbox-slider-1:hover .flexbox-slide:hover .text-block {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  bottom: 30px;
  opacity: 1;
  visibility: visible;


}

.text{
  text-align: center;
  font: normal normal medium 17px/26px Montserrat;
  letter-spacing: 0px;
  color: #3D94FC;
  opacity: 1;
}
.text-title{
  color: #132158;
  text-align: center;
}

.contenedorImg{
  width:100%;
  max-width:917px;
  height:100%;
  max-height:300px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  
}

.imgLogo{

  width:100%;
  height:100%;
  opacity: 1;
  content:url(/assets/images/como_votarimg/cedula.png);
  background-size: 100%;   
  background-repeat:no-repeat;
  border: 1px solid #3D94FC;
  border-radius: 19px;
  
}
.conteinerLogo{
  width:100%;
  max-width:917px;
  height:100%;
  max-height:300px;
}

.text-prec{
    text-align: justify;
    font: normal normal medium 20px/28px Montserrat;
    letter-spacing: 0.6px;
    color: #132158;
    opacity: 1;
    strong{
      color: #FF005C;
    }
}
.text-dondeV{
  text-align: center;
  font: normal normal medium 20px/28px Montserrat;
  letter-spacing: 0.6px;
  color: #132158;
  opacity: 1;
  strong{
    color: #FF005C;
  }
}




.contenedorDVImg{
  width:100%;
  max-width:377px;
  height:100%;
  max-height:338px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  
}

.imgDV{

  width:100%;
  height:100%;
  opacity: 1;
  content:url(/assets/images/como_votarimg/escalonado.png);
  background-size: 100%;   
  background-repeat:no-repeat;
  //border: 1px solid #3D94FC;
  //border-radius: 19px;
  
}
.conteinerDondeV{
  width:100%;
  max-width:377px;
  height:100%;
  max-height:338px;
 // border: 1px solid #3D94FC;
}

.boton_personalizado{
  text-decoration: none;
  padding: 10px;
  height: 35px;
  width: 200px;
  color: #ffffff;
  border-color: none;
  background-color: #3D94FC;
  border-radius: 30px;
  border: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.boton_personalizado:hover{
  background-color: #FF005C;
}