<div class="paginaPartido" *ngIf="partido">
    
    <div class="cabecera">
        <div class="partido_info">
            <div class="imagen_partido">
                <img _ngcontent-jxr-c95="" src={{partido.ruta_archivo}} class="imagn">
            </div>
            <div class="texto_partido">
                <div id="nombrepartido">{{partido.nombre}}
                    <span *ngIf="partido.jne_idorganizacionpolitica == 22 ">ex-Solidaridad</span>
                    <span *ngIf="partido.jne_idorganizacionpolitica == 21 ">ex-Restauraciòn </span>
                </div>
                <div id="fundacionpartido">Fundación {{partido.fundacion_fecha | date: 'd MMM y'}}{{" - "}} {{fnAnios(partido.fundacion_fecha) }} años </div>
                
                <div class="vacancia" *ngIf="getCantIndicador(partido,6)!=0">
                     <!-- <label class="vacanciaTitle"> Votos de Vacancia Presidencial: </label>
                       
                        <strong>
                        <span *ngFor="let indicador of fnIndicadores(partido,6); let i = index">
                            <span *ngIf="i==0" class="afavor" > {{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }} | </span>
                            <span *ngIf="i==1"> {{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }} | </span>
                            <span *ngIf="i==2 "> {{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }}</span>
                            
                        </span>
                        </strong>
                        <br>
                            -->
                        <p>
                        <span  class="porcentaje" *ngFor="let indicador of fnIndicadores(partido,4); let i = index">
                            <span *ngIf="i==0"></span> {{indicador.cantidad}} Representantes en el congreso actual
                        </span>
                        </p>
                </div>
                <!--
                <div id="porcentajepartido">
                    <p>
                        <span *ngFor="let indicador of fnIndicadores(partido,4); let i = index">
                            <span *ngIf="i==0"></span> {{indicador.cantidad + "% de " + indicador.indicador_categoria_nombre}}
                        </span>
                    </p>
    
                   vizcarra ID 6 
                    <p>
                    <span *ngFor="let indicador of fnIndicadores(partido,6); let i = index">
                        <span *ngIf="i==0"> </span> {{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }}
                    </span>
                    </p>
                    </div>
                 </div>
                        -->
                        <!-- <div class="iconoshare">
                            <mat-icon _ngcontent-jxr-c95="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
                                share
                            </mat-icon>
                        </div> -->
            </div>
            
            <!-- <div class="share">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>share</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="custom-menu">
                  <button mat-menu-item>
                    <a href="https://www.facebook.com/sharer.php?u=https://www.candidatos.pe"  target="_blank" >
                        <img src="assets/images/iconos/facebook.svg">
                    </a>
                  </button>
                  <button mat-menu-item>
                    <a href="https://twitter.com/intent/tweet?url=https://www.candidatos.pe&text=Conoce a tus candidatos en estas elecciones &hashtags=candidatos2021"  target="_blank" >
                        <img src="assets/images/iconos/twitter.svg">
                    </a>
                  </button>
                </mat-menu>
            </div>   -->
        </div>
    </div>
    <mat-tab-group (click)="setearTab()" [(selectedIndex)]="tabIndex" mat-stretch-tabs>
    <!--<mat-tab-group (click)="setearTab()" [(selectedIndex)]="tabIndex" [backgroundColor]="'primary'" mat-stretch-tabs>-->
        <mat-tab label="Resumen">
            <app-detalle-partido-indicadores [partido]="partido"></app-detalle-partido-indicadores>
        </mat-tab>
        <mat-tab label="Plan de Gobierno">
            <app-partido-plan-gobierno [partido]="partido"></app-partido-plan-gobierno>
        </mat-tab>
        <mat-tab label="Presidente">
            <app-listado-presidente  [politicParty]="partido" ></app-listado-presidente>
        </mat-tab>
        <mat-tab label="Congresistas">
            <app-listado-congresista > </app-listado-congresista>
        </mat-tab>
        <mat-tab label="P. Andino">
            <app-partido-andino [politicParty]="partido"></app-partido-andino>
        </mat-tab>
        <mat-tab label="Historia">
            <app-historia-partido [partido]="partido"></app-historia-partido>
        </mat-tab>
    </mat-tab-group>
</div>
