<mat-progress-bar mode="indeterminate" *ngIf="!partido" ></mat-progress-bar>

<div class="ComponenteIndicadores" *ngIf="partido">
    <div class="card">
    
        <div class="sentencias">
            <div class="wraper-title">
                <mat-icon class="fondoSentencias"  aria-hidden="true">
                    gavel
                </mat-icon>
                <label class="colorSentencias">&nbsp;{{getCantIndicador(8)+getCantIndicador(9) }} Sentencias</label>
            </div>
            <div class="indicador-detail" >
                <p>
                    <span *ngFor="let indicador of fnIndicadores(8); let i = index">
            
                        <span *ngIf="i==0"> </span> {{indicador.cantidad }} <span >{{onInitial(indicador.indicador_categoria_nombre)}}</span>
                        <br>
    
                    </span>
                    
                    <span *ngFor="let indicador of fnIndicadores(9); let i = index">
     
                        <span *ngIf="i==0"> </span> {{indicador.cantidad}} <span >{{onInitial(indicador.indicador_categoria_nombre)}}</span>
                        <br>
                    </span>
                 </p>
            </div>
         
        </div>
        <!--
        <div class="academico" >
            <div style="margin-left:10px" >
            <mat-icon   class="fondoSentencias" aria-hidden="true">
                school
            </mat-icon>
            <label class="colorSentencias"> Con universidades sin licencia Sunedu</label>
            </div>

            <div class="container">

            </div>
        </div>
        -->


        <div class="academico">
            <div class="wraper-title">
                <mat-icon   class="fondoAcademico" aria-hidden="true">
                    school
                </mat-icon>
                <label class="colorAcademico">&nbsp;{{getCantidadEdSuperior()}} Ed. Superior</label>
            </div>

            <div class="indicador-detail">
                <p>
                <span *ngFor="let indicador of fnIndicadores(1); let i = index">
                    
                    <span *ngIf="i==0"> </span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}} <br>
                    
                </span>
            </p>   
            </div>
        </div>

   
        <div class="cargos-anteriores">
            <div  class="wraper-title">
                <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                    work
                </mat-icon>
                <label class="colorPolitico">&nbsp;{{getCantIndicador(5)}} En Cargos Anteriores</label>
                
            </div>
                <div class="indicador-detail">
                    <p>
                    <span *ngFor="let indicador of fnIndicadores(5); let i = index">
                        
                        <span *ngIf="i==0"> </span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}} <br>
                            
                    </span>
                </div>
       
        </div>

        <div class="cargos-anteriores">
            <div class="wraper-title" >
                <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                    account_balance
                </mat-icon>
                <label class="colorPolitico">&nbsp;{{getCantIndicador(11)}} En Partidos Anteriores</label>
            </div>
            <div class="indicador-detail">
            </div>
        </div>

        <div class="cargos-anteriores">
            <div class="wraper-title" >
                <span class="material-icons fondoPolitico" >payment</span>
                <label class="colorPolitico">&nbsp;Bienes Promedio Anual</label>
            </div>

            <div class="indicador-detail">
                <p>
                <span *ngFor="let indicador of fnIndicadores(10); let i = index">
                    
                    <span *ngIf="i==0"> </span> {{indicador.cantidad|currency:'S/.':'symbol':'4.0-0'}}&nbsp;{{indicador.indicador_categoria_nombre}} <br>
                        
                </span>
            </div>
    
        </div>
        <div>

        </div>
    
    </div>
</div>