<div class="ComponenteIndicadores" *ngIf="partido">
    <div class="indicadores">
        <div class="sentencias">
            <div style="margin-left:10px" >
            <mat-icon class="fondoSentencias"  aria-hidden="true">
                gavel
            </mat-icon>
            <label class="colorSentencias"> {{getCantIndicador(8)+getCantIndicador(9) }} Con Sentencias</label>
            </div>
            <div class="container" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between stretch">
                <div>
                    <span *ngFor="let indicador of fnIndicadores(8); let i = index">
                        <p>
                        <span *ngIf="i==0"> </span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}}
                        </p>    
                    </span>
                   
                </div>
                <div>
                    <span *ngFor="let indicador of fnIndicadores(9); let i = index">
                        <p>
                        <span *ngIf="i==0"> </span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}}
                        </p>    
                    </span>
                </div>
            </div>
        </div>
        <div class="academico">
            <div style="margin-left:10px" >
            <mat-icon   class="fondoAcademico" aria-hidden="true">
                school
            </mat-icon>
            <label class="colorAcademico"> {{getCantidadEdSuperior()}} Ed.Superior</label>
            </div>

            <div class="container">
                <span *ngFor="let indicador of fnIndicadores(1); let i = index">
                    <p>
                    <span *ngIf="i==0"> </span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}}
                    </p>    
                </span>

                <div fxLayout="column" fxLayoutAlign="center center" >
                    <div>
                        <p class="colorAcademico">- Con universidades sin licencia Sunedu</p>
                    </div>
                </div>
            </div>


    </div>
        <div class="trayectoria_politica">
            <div style="margin-left:10px; margin-bottom: 20px;" >
                <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                    account_balance
                </mat-icon>
                <label class="colorPolitico"> {{getCantIndicador(5)}} En Cargos Anteriores</label>
                <div class="container">
                    <span *ngFor="let indicador of fnIndicadores(5); let i = index">
                        <p>
                        <span *ngIf="i==0"> </span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}}
                        </p>    
                    </span>
                    <span *ngFor="let indicador of fnIndicadores(11); let i = index">
                        <p>
                        <span *ngIf="i==0"> </span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}}
                        </p>    
                    </span>
                    <div fxLayout="column" fxLayoutAlign="center center" >
                        <div>
                            <p class="colorPolitico">- Votaciones en el congreso</p>
                        </div>
                    </div>
    
                </div>


        </div>

        
    {{ "Indicador Estudio : " + partido.indicadorCantidadEstudio}}
    <br>
    {{ "Indicador Cantidad de Sentencias : " + partido.indicadorCantidadSentencias}}
</div>