.ComponenteIndicadores{
    margin-bottom: 10px;
    .card{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        /*justify-content: space-between;*/
        flex-wrap: wrap;
        margin: 20px;
        /* Prueba de espaciado */
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    
    
      }
      .card  > div{
        margin-bottom:20px;
        width: 325px;
    
      }

}
.indicador-detail{
    font-size:15px;
    margin-bottom:5px;
    margin-top:5px;
    margin-left:30px;
    width: 280px;
  }
/*
.indicadores{
    background-color:#fafafa;
    padding:0;
    margin-top: 15px;
    letter-spacing: normal;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 450px;

    div{
        //min-width: 280px;
        //max-width: 500px;
            margin-bottom:20px;
          width: 400px;

        .wraper-title{
            margin-left:10px; 
            align-items: flex-start;
            display: flex;
        }
    }
    // .sentencias{

    // }
    // .academico{

    // }
    // .cargos-anteriores{

    // }
}
*/

.colorSentencias{
    color: #DF2854;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.colorAcademico{
    color: #1CBAD9;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.colorPolitico{
    color: #DBA837;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.fondoSentencias{
    color: #DF2854;
}

.fondoAcademico{

    color: #1CBAD9;
}

.fondoPolitico{
    color: #DBA837;

}
.container{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
   // font-family:'cabin';
}