
.indicadores{
    background-color:#fafafa;
    padding:0;
    margin-top: 15px;
    letter-spacing: normal;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 450px;

    div{
        min-width: 280px;
        .wraper-title{
            margin-left:10px; 
            align-items: flex-start;
            display: flex;
        }
    }
    // .sentencias{

    // }
    // .academico{

    // }
    // .cargos-anteriores{

    // }
}


.colorSentencias{
    color: #DF2854;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.colorAcademico{
    color: #1CBAD9;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.colorPolitico{
    color: #DBA837;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.fondoSentencias{
    color: #DF2854;
}

.fondoAcademico{

    color: #1CBAD9;
}

.fondoPolitico{
    color: #DBA837;

}
.container{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14;
   // font-family:'cabin';
}