.img-candidato {
    display: flex;
    justify-content: space-around;
}
.versus {
    display: flex;
    //justify-content: space-around;
    //min-width: 1000px; 
}
.candidato {
    flex: 1;
}
.header-image{
    /*display: flex;
    justify-content: center;*/
    position: relative;
    //left: 45%;
    width: 200px;
    height: 240px;
    .imgCandidato{
        border-radius: 10%;
        width: 162px;
        height: 216px;
        border: 1px solid;
        //border-color: #C4C4C4;
        border-color: #1b1b1b;
        //border-color: rgb(232, 6, 6);
    }
    .imgPartido{
        position: absolute;
        right: 0px;
        bottom:0px;
        border-radius: 10px;
        width: 50px; //antes 35px
        height: 50px; //antes 35px
        //border: 1px solid;
        // border-color: black;
    }
}
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
        margin: 10px 0px;
        color: white;
        background-color: #FF005C;
        border: 0px;
        border-radius: 15px;
        padding: 3px 5px;
    }
    
}
.aviso {
    display: none;
    margin-top: 20px;
    p {
        font-size: 20px;
        font-weight: 600;
        color: #2c4484;
        text-align: center;
    }
}
@media only screen and (max-width: 450px) {
    .versus {
        flex-direction: column;
        max-width: 100%;
        min-width: 100px;
    }
    .header-image{
        width: 100px;
        height: 120px;
        .imgCandidato{
            width: 81px;
            height: 108px;
        }
        .imgPartido{
            position: absolute;
            right: 0px;
            bottom:0px;
            border-radius: 10px;
            width: 35px; //antes 35px
            height: 35px; //antes 35px
        }
    }
    .elegido {
        border: 4px solid;
        border-color: #BD005C;
        border-radius: 10%;
    }
    .aviso {
        display: block;
    }
    .oculto {
        display: none;
    }
}