.scrollA{
  height: 100vh;
  overflow: scroll;
  // background-color:red;

}



.wrapper{
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color:#F9F9F9 ;

}

.candidato{
  width: 400px ;
  margin: 20px 5px 40px 5px;
}

@media only screen and (max-width: 400px) {
  .candidato{
    width: 100% ;

  }
}

