

<mat-tab-group mat-stretch-tabs class="navigator">
    <!--<mat-tab-group [backgroundColor]="'primary'" mat-stretch-tabs class="navigator">-->

    <mat-tab label="Me representa" >
        <mat-progress-bar mode="indeterminate" *ngIf="!misRepresentantes" ></mat-progress-bar>
        <div
            class="scrollA"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            [scrollWindow]="false"
            (scrolled)="onScrollMeReprenta()"
            >
            <div class="wrapper">
                <div *ngFor="let candidato of misRepresentantes" class="candidato">
                    <app-card-candidato [candidato]="candidato"></app-card-candidato> 
                </div>
            </div>
            <div fxLayoutAlign="center center" *ngIf="counterSMR == 0">
                Aun no seleccionaste a los que te representaran en las proximas elecciones!!
            </div>
        </div>

    </mat-tab>
    <mat-tab label="No me representa" >
        <mat-progress-bar mode="indeterminate" *ngIf="!misNoRepresentantes" ></mat-progress-bar>

        <div
        class="scrollA"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScrollNoMeReprenta()">
            <div  class="wrapper">
                <div *ngFor="let candidato of misNoRepresentantes"  class="candidato">
                    <app-card-candidato [candidato]="candidato"></app-card-candidato> 
                </div>
            </div>
            <div fxLayoutAlign="center center"  *ngIf="counterNMR  == 0">
                Aun no seleccionaste a los que te no te representaran en las proximas elecciones!!
            </div>
        </div>


    </mat-tab> 
    </mat-tab-group>
<div class="spinner">
    <mat-spinner *ngIf="showLoader"  diameter=40 ></mat-spinner>
</div>
