.scrollC{
  height: 100vh;
  overflow: scroll;
  // background-color:red;
}
.filtrado{
  margin: 10px;
  .filterRegion{
    width: 150px;
    height: 50px;
  }
}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner ::ng-deep .mat-spinner circle {
  stroke: #000000;
}