.scrollC{
  height: 100vh;
  overflow: scroll;
  // background-color:red;
}
.wraper-filtrado-search{
  margin: 10px 10px 0 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  min-height: 30px;
  .filtrado{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  
  }
  .search{
    position: absolute;
    right: 10px;
    margin-top: 10px;
  
    mat-form-field{
      max-width:300px;
      min-width: 150px;
    }
    input {
      caret-color: rgb(0, 0, 0);
    }
  
  }
}

@media only screen and (max-width: 700px) {
  .search{
    width: 100%;
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;    
  }

}

@media only screen and (max-width: 480px) {
  .filterRegion {
    font-size:10px ;
    width: 120px !important;
    }
}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner ::ng-deep .mat-spinner circle {
  stroke: #000000;
}



.wrapper{
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.listParAndino{
  width: 400px ;
  margin: 40px 5px 40px 5px;
}

@media only screen and (max-width: 400px) {
  .listParAndino{
    width: 100% ;

  }
}

.nofound{
  color: #2c4484;
  font-size: medium;
  margin: 10px;
}