<div >
    <div class="wraper-filtrado-search"> 
        <div class="filtrado" *ngIf="!notesText">
            <mat-form-field appearance="fill" class="filterRegion">
                <mat-label>Filtro: Partido</mat-label>
                <mat-select [(value)]="orgIdSelect" (selectionChange)="onFiltroOrganizacion($event.value)">
                    <mat-option value="sinseleccion" >SIN SELECCIÓN</mat-option>
                    <mat-option *ngFor="let partido of ORGANIZACIONES" [value] = "partido.id">
                        {{partido.nombre}}
                    </mat-option>    
                </mat-select>
            </mat-form-field>
        </div>
        <div class="search" *ngIf="orgIdSelect == 'sinseleccion' || orgIdSelect == ''">
            <mat-form-field class="example-form-field">
                <mat-label>
                    Buscar candidato
                </mat-label>
                <input 
                matInput 
                placeholder="Escriba su nombre"
                type="text" 
                (keyup)="search($event.target.value)"
                >
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    
    </div>

        <div>
            <div
            class="scrollC"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            [scrollWindow]="false"
            (scrolled)="onScroll()"
            [infiniteScrollDisabled] = "notesText"

            >
                <div class="wrapper">
                    <div *ngFor="let candidato of listParAndino" class="listParAndino">
                        <app-card-candidato [candidato]="candidato"></app-card-candidato> 
                    </div>  
                    <div class="spinner">
                        <mat-spinner *ngIf="showLoader"  diameter=40 ></mat-spinner>
                    </div>
                </div>
                <div class="nofound" *ngIf="listParAndino && listParAndino.length == 0">
                    <p>
                        <strong>
                            No se encontraron candidatos...
                        </strong>
                    </p>
                </div>

            </div>
        </div>

</div>