<mat-toolbar >
    <div fxHide.gt-xs class="btn_menu">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>

    </div>
    <a routerLink="/partidos/.">
    <div class="conteinerLogo" fxLayoutAlign=" center">
        <div class="contenedorImg">
            <img routerLink="/partidos/." class="imgLogo">
        </div>
    </div>
    </a>
    <div fxFlex class="options" fxLayout fxLayoutAlign="end center" fxLayoutGap="15px" fxHide.xs class=".navigation-items">
        <div>
            <a routerLink="/comovotar/." routerLinkActive='active'> ¿Cómo votar?</a>
        </div>
        <!-- <div>
            <a routerLink="/quiz/." routerLinkActive='active'>Quiz</a>
        </div> -->
        <div>
            <a routerLink="/partidos/." routerLinkActive='active'> Partidos</a>
        </div>

        <div>
            <a routerLink="/candidatos/." routerLinkActive='active'> Candidatos</a>
        </div>

        <div>
            <a routerLink="/milista/." routerLinkActive='active'> Mi lista</a>
        </div>
        <div>
            <a routerLink="/planesdegobierno/." routerLinkActive='active'> Planes de gobierno</a>
        </div>
    </div>
    <div class="share">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>share</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="custom-menu">
            <button mat-icon-button>
                <a href="https://www.facebook.com/sharer.php?u=https://www.candidatos.pe"  target="_blank" >
                    <img src="assets/images/iconos/fb.svg">
                </a>
            </button>
            <button mat-icon-button>
                <a href="https://twitter.com/intent/tweet?url=https://www.candidatos.pe&text=Nuestra rebeldia es estar informados &hashtags=candidatos2021"  target="_blank" >
                    <img src="assets/images/iconos/twt.svg">
                </a>
            </button>
            <button mat-icon-button>
                <a href="https://api.whatsapp.com/send?text=Los invito a dar click y compartir https://www.candidatos.pe/  |  Web con información de los candidatos que participan en las elecciones 2021, donde encuentras de manera fácil y sencilla las hojas de vida, planes de gobierno y noticias del candidato y partido para ser un elector informado y realizar un voto responsable." target="_blank">
                    <img src="assets/images/iconos/wtspp.svg">
                </a>
            </button>
        </mat-menu>
    </div> 
    <div class="popup-info">
        <button mat-icon-button [matMenuTriggerFor]="help">
            <mat-icon>help</mat-icon>
        </button>

        <mat-menu #help="matMenu" class="help-menu">
            <p class="custom-menu-text"> ¿Deseas más información de lo que puedes hacer en candidatos.pe? </p>
            <div class="btn-yes-no">
                <button type="submit" routerLink="/ayuda/." class="btn-yes">Si</button>
                <button class="btn-no">No</button>
            </div>
        </mat-menu>
    </div>
</mat-toolbar>