a{
    text-decoration: none;
    color: #3D94FC;
    font: normal normal medium 19px/23px Montserrat;
}
a:hover, a:active{
    color: #FF005C;
    text-decoration: underline;
}
.navigation-items{
    list-style-type:none ;
    padding: 0;
    margin: 0;
}
.contenedorImg{
    width:100%;
    max-width:360px;
    height:100%;
    max-height:60px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 0px;
    outline: none;
}

.imgLogo{

    width:100%;
    height:100%;
    opacity: 1;
    content:url(/assets/images/logo/HorizontalCandidatos_sf.png);
    background-size: 100%;   
    background-repeat:no-repeat;
    background-color: #FFFFFF;
    border: 0px;
    outline: none;
}


mat-toolbar{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 111px;
    //box-shadow: 2px 2px 5px #999;
    position: relative;
    .share{
        position: absolute;
        right:0;
        bottom:-5px;
        z-index: 100;
        color: #3D94FC;
    }
    .popup-info{
        position: absolute;
        right:30px;
        bottom:-5px;
        z-index: 100;
        color: #FF005C;
    }

}
// ::ng-deep .custom-menu{
//     min-width: 20px !important;
// }

.active{
    color: #FF005C;
}
.options{
    height: 100%;
    width: 100%;
    position: relative;

}
.conteinerLogo{
    height: 100%;
    width: 100%;

}
.btn_menu {
    background-color: #3D94FC;
    //color: #3D94FC;
    color: white;
    border-radius: 12px;
}

.custom-menu-text {
    text-align: center;
    color: #132158;
}
.btn-yes-no {
    display: flex;
    justify-content: space-around;
    .btn-yes{
        background-color: #3D94FC;
        color: white;
        border-radius: 30px;
        border-style: none;
        padding: 5px 10px;
        width: 55px;
    }
    .btn-no{
        background-color: white;
        color: #3D94FC;
        border-radius: 30px;
        border: #3D94FC 2px;
        border-style: solid;
        padding: 5px 10px;
        width: 55px
    }
}

@media only screen and (max-width: 400px) {
    .imgLogo{
        content:url(/assets/images/logo/Candidatos_sf.png);
        background-size: 100% 100%; 
    }
    .contenedorImg{
        width:100%;
        max-width:179px;
        height:100%;
        max-height:94px;
        margin-left: 10%;
    }

  }
  @media only screen and (width: 320px) {
    .contenedorImg{
        margin-left: 6%;
    }

  }
  @media only screen and (width: 375px) {
    .contenedorImg{
        margin-left: 15%;
    }

  }
  @media only screen and (min-width: 401px)and(max-width: 426px) {
    .imgLogo{
        content:url(/assets/images/logo/Candidatos_sf.png);
        background-size: 100% 100%; 
    }
    .contenedorImg{
        width:100%;
        max-width:179px;
        height:100%;
        max-height:94px;
        margin-left: 17%;
    }

  }
  @media only screen and (width: 768px) {
    .contenedorImg{
        max-height:38px;
    }

  }
/*
  @media only screen and (min-width: 414px) {
    .imgLogo{
        content:url(/assets/images/logo/Candidatos_sf.png);
        background-size: 100% 100%; 
    }
    .contenedorImg{

        width:100%;
        max-width:179px;
        height:100%;
        max-height:94px;
        margin-left: 40px;
    }

  }*/
  
  @media only screen and (min-width: 1250px) {

  }