<mat-toolbar >
    <div fxHide.gt-xs class="btn_menu">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>

    </div>
    <div class="conteinerLogo" fxLayoutAlign=" center">
        <div class="contenedorImg">
                <img class="imgLogo">
        </div>
    </div>
    <div fxFlex class="options" fxLayout fxLayoutAlign="end center" fxLayoutGap="15px" fxHide.xs class=".navigation-items">
        <div>
            <a routerLink="/partidos/." routerLinkActive='active'> Partidos</a>
        </div>

        <div>
            <a routerLink="/candidatos/." routerLinkActive='active'> Candidatos</a>
        </div>

        <div>
            <a routerLink="/milista/." routerLinkActive='active'> Mi lista</a>
        </div>
        <div></div>
        <div></div>
    </div>
</mat-toolbar>