.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
mat-expansion-panel {
    margin: 0px 15px;
}
mat-expansion-panel-header {
    /*max-width: 1150px;*/
    text-align: justify;
    padding: 0px 40px;
    min-height: 100px;
}
/*
@media only screen and (width: 450px) {
    .medio{
        width: 100% ;
        max-width: 450px;
        margin: 20px 5px 40px 5px;
    }
}
*/
mat-panel-title {
    text-align: justify;
    max-width: 1100px;
}
.objetivo {
    padding: 0px 30px;
}
.indicador {
    padding: 0px 30px 0px 50px;
}
.meta {
    padding: 0px 30px 0px 70px;
}