<div *ngIf="candidato" class="candidato">
  <mat-card>
    <div>
      <div class="sentencias">
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
            gavel
        </mat-icon>
        <span class="title">
          <label>Judicial</label>
        </span>
      </div>
      <div *ngIf="candidato.sentencias">
        <div *ngFor="let sentencia of candidato.sentencias">
          <ul>
            <li>
              {{sentencia.sentencia}}
            </li>
            <li>
              {{sentencia.nro_expediente}}
            </li>
            <li>
              {{sentencia.fallo}}
            </li>
            <li>
              {{sentencia.cumple_fallo}}
            </li>
            <li>
              {{sentencia.tipo_proceso}}
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="!candidato.sentencias">
        No hay data amig@...
      </div>
    </div>
    <hr>
    <div>
      <div>
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
            school
        </mat-icon>
        <span class="title">
          <label>Academicas</label>
        </span>
      </div>
      <div *ngIf="candidato.estudios">
        <div *ngFor="let estudio of candidato.estudios">
          <ul>
            <li>
              {{estudio.grado}}
            </li>
            <li>
              {{estudio.institucion}}
            </li>
            <li>
              {{estudio.estudio}}
            </li>
            <li>
              {{estudio.anio_bachiller}}
            </li>
            <li>
              {{estudio.anio_titulo}}
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="!candidato.estudios">
        No hay data amig@...
      </div>
    </div>
    <hr>
    <div>
      <div>
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          business_center
        </mat-icon>
        <span class="title">
          <label>Experiencia Laboral</label>
        </span>
      </div>
      <div *ngIf="candidato.experiencialaboral">
        <div *ngFor="let experiencialaboral of candidato.experiencialaboral">
          <ul>
            <li>
              {{experiencialaboral.centro_trabajo}}
            </li>
            <li>
              {{experiencialaboral.ocupacion_profesion}}
            </li>
            <li>
              {{experiencialaboral.anio_trabajo_desde}}
            </li>
            <li>
              {{experiencialaboral.anio_trabajo_hasta}}
            </li>
            <li>
              {{experiencialaboral.anio_titulo}}
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="!candidato.experiencialaboral">
        No hay data amig@...
      </div>
    </div>
    <hr>
    <div>
      <div>
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          account_balance
        </mat-icon>
        <span class="title">
          <label>Trajectoria Politica</label>
        </span>
      </div>
      <div *ngIf="candidato.experienciapolitica">
        <div *ngFor="let experienciapolitica of candidato.experienciapolitica">
          <ul>
            <li>
              {{experienciapolitica.centro_trabajo}}
            </li>
            <li>
              {{experienciapolitica.ocupacion_profesion}}
            </li>
            <li>
              {{experienciapolitica.anio_trabajo_desde}}
            </li>
            <li>
              {{experienciapolitica.anio_trabajo_hasta}}
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="!candidato.experienciapolitica">
        No hay data amig@...
      </div>
    </div>
  </mat-card>
</div>
