.candidato{
  margin-bottom: 10px;


  mat-card{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;


  }
  mat-card  > div{
    margin-bottom:20px;
    width: 400px;

  }

}


  mat-icon{
    color: #274482;

  }

.tile-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .title{
    font-size: 20px;
    color: #274482;
    margin-left: 5px;
  }
}


.indicador-detail{
  font-size:15px;
  margin-bottom:5px;
  margin-top:5px;
  margin-left:30px;

}


  .title-penales{
    font-size:15px;
    margin-left:30px;

  }
  .title-civiles{
    font-size:15px;
    margin-left:30px;

  }

.sentencia{
  color: #4F4F4F;
}

.anio{
  color: #938D8D;
  font-size: 13px;
}

.fallo{
  color: #938D8D;
  font-size: 13px;
}

.institucion{
  color: #938D8D;
  font-size: 13px;
}

.centro_trabajo{
  color: #938D8D;
  font-size: 13px;
}



.anio_trabajo_desde{
  color: #938D8D;
  font-size: 13px;
}

.vacio{
  margin-left:30px;

}