<div *ngIf="candidato" class="candidato">
  <mat-card>
    <div  class="candidato-sentencias-wrapper">
      <div class="sentencias">
        <div  class="tile-wrapper">
          <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
            gavel
          </mat-icon>
          <span class="title">
            <label>Sentencias</label>
          </span>
        </div>
        <div *ngIf="candidato.sentencias">
        <div *ngIf="penal.length > 0">
          <div  class="title-penales">
            Sentencias Penales:
          </div>
          <div *ngFor="let sentencia of penal" class="indicador-penal-wrapper">
              <div class="indicador-detail">
                <div class="sentencia">
                  {{sentencia.sentencia}}
                </div>
                <!-- <div  class="anio">
                  AQUI VA EL ANIO :P
                </div> -->
                <div class="fallo">
                  {{sentencia.fallo}} - {{sentencia.cumple_fallo}}
                </div>
              </div>
          </div>
        </div> 
        <div *ngIf="civil.length > 0" >
            <div class="title-civiles">
              Sentencias Civiles:
            </div>
          <div *ngFor="let sentencia of civil" class="indicador-civil-wrapper">
              <div class="indicador-detail">
                <div  class="sentencia">
                  {{sentencia.sentencia}}
                </div>
                <!-- <div  class="anio">
                  AQUI VA EL ANIO :P
                </div> -->
                <div class="fallo">
                  {{sentencia.fallo}}  <span *ngIf="sentencia.cumple_fallo">- {{sentencia.cumple_fallo}}</span>  
                </div>
              </div>
          </div>
        </div>
      </div>
        <div *ngIf="!candidato.sentencias" class="vacio">
         <!-- No tiene sentencias -->
         No se encontraron datos  
        </div>
      </div>
    </div>

    <div class="candidato-estudios-wrapper">
      <div class="tile-wrapper">
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
            school
        </mat-icon>
        <span class="title">
          <label>Estudios</label>
        </span>
      </div>
      <div *ngIf="candidato.estudios">
        <div *ngFor="let estudio of candidato.estudios" class="indicador-detail">
            <div *ngIf="estudio.estudio">
              {{estudio.estudio}} 
              <span *ngIf="estudio.grado">
                - {{estudio.grado}} 
              </span>
            </div>
            <div *ngIf="estudio.institucion" class="institucion">
              {{estudio.institucion}}
            </div>
            <div *ngIf="estudio.nivel_estudio_estado" class="anio">
              {{estudio.nivel_estudio_estado}} 
              <span  *ngIf="estudio.anio_bachiller">
               - {{estudio.anio_bachiller}}
              </span>
              <span *ngIf="estudio.anio_titulo">
               - {{estudio.anio_titulo}}
              </span>
            </div>
        </div>
      </div>
      <div *ngIf="!candidato.estudios" class="vacio">
        No tiene estudios  
      </div>
    </div>
    <div  class="candidato-experiencialaboral-wrapper">
      <div class="tile-wrapper">
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          business_center
        </mat-icon>
        <span class="title">
          <label>Experiencia Laboral</label>
        </span>
      </div>
      <div *ngIf="candidato.experiencialaboral">
        <div *ngFor="let experiencialaboral of candidato.experiencialaboral" class="indicador-detail">
            <div>
              {{experiencialaboral.ocupacion_profesion}}
            </div>
            <div class="centro_trabajo">
              {{experiencialaboral.centro_trabajo}}
            </div>
            <div class="anio_trabajo_desde">
              {{experiencialaboral.anio_trabajo_desde}}
              <span *ngIf="experiencialaboral.anio_trabajo_hasta != '0000'">
                - {{experiencialaboral.anio_trabajo_hasta}}
              </span>
              <span *ngIf="experiencialaboral.anio_trabajo_hasta == '0000'">
                - PRESENTE
              </span>
            </div>
        </div>
      </div>
      <div *ngIf="!candidato.experiencialaboral" class="vacio">
        No tiene experiencia laboral  
      </div>
    </div>
    <div   class="candidato-experienciapolitica-wrapper">
      <div class="tile-wrapper">
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          account_balance
        </mat-icon>
        <span class="title">
          <label>Trayectoria Politica</label>
        </span>
      </div>
      <div *ngIf="candidato.experienciapolitica">
        <div *ngFor="let experienciapolitica of candidato.experienciapolitica" class="indicador-detail">
            <div>
              {{experienciapolitica.ocupacion_profesion}} 
            </div>
            <div class="centro_trabajo">
              {{experienciapolitica.centro_trabajo}}
            </div>
            <div class="anio_trabajo_desde">
              {{experienciapolitica.anio_trabajo_desde}}
              <span *ngIf="experienciapolitica.anio_trabajo_hasta != '0000'">
                - {{experienciapolitica.anio_trabajo_hasta}}
              </span>
              <span *ngIf="experienciapolitica.anio_trabajo_hasta == '0000'">
                - PRESENTE
              </span>
            </div>
        </div>
      </div>
      <div *ngIf="!candidato.experienciapolitica" class="vacio">
        No se encontraron datos  
      </div>
    </div>

    <div   class="candidato-experienciapartido-wrapper">
      <div class="tile-wrapper">
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          account_balance
        </mat-icon>
        <span class="title">
          <label>Cargos Partidarios</label>
        </span>
      </div>
      <div *ngIf="candidato.experienciapartido">
        <div *ngFor="let experienciapartido of candidato.experienciapartido" class="indicador-detail">
            <div>
              {{experienciapartido.ocupacion_profesion| uppercase}} 
            </div>
            <div class="centro_trabajo">
              {{experienciapartido.centro_trabajo}}
            </div>
            <div class="anio_trabajo_desde">
              {{experienciapartido.anio_trabajo_desde}}
              <span *ngIf="experienciapartido.anio_trabajo_hasta != '0000'">
                - {{experienciapartido.anio_trabajo_hasta}}
              </span>
              <span *ngIf="experienciapartido.anio_trabajo_hasta == '0000'">
                - PRESENTE
              </span>
            </div>
        </div>
      </div>
      <div *ngIf="!candidato.experienciapartido" class="vacio">
        No se encontraron datos  
      </div>
    </div>

    <div class="candidato-experienciapolitica-wrapper">
      <div class="tile-wrapper">
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          attach_money
        </mat-icon>
        <span class="title">
          <label>Ingresos</label>
        </span>
      </div>
      <div *ngIf="candidato.ingresos">
        <div *ngFor="let ingreso of candidato.ingresos" class="indicador-detail">
            <div>
              <span *ngIf="ingreso.otros_ingresos_privado == 0">INGRESO PRIVADO: S/. 0.0 </span>
              <span *ngIf="ingreso.otros_ingresos_privado != 0">INGRESO PRIVADO: {{ingreso.otros_ingresos_privado|currency:'S/.':'symbol':'4.0-0'}}</span>
            </div>
            <div >
              <span *ngIf="ingreso.otros_ingresos_publico == 0">INGRESO PUBLICOS: S/. 0.0 </span>
              <span *ngIf="ingreso.otros_ingresos_publico != 0">INGRESO PUBLICOS: {{ingreso.otros_ingresos_publico|currency:'S/.':'symbol':'4.0-0'}}</span>
            </div>
            <div >
              <span *ngIf="ingreso.renta_bruta_privado == 0">RENTA BRUTA PRIVADA: S/. 0.0 </span>
              <span *ngIf="ingreso.renta_bruta_privado != 0">RENTA BRUTA PRIVADA: {{ingreso.renta_bruta_privado|currency:'S/.':'symbol':'4.0-0'}}</span>
            </div>
            <div  >
              <span *ngIf="ingreso.renta_bruta_publico == 0">RENTA BRUTA PUBLICA: S/. 0.0 </span>
              <span *ngIf="ingreso.renta_bruta_publico != 0">RENTA BRUTA PUBLICA: {{ingreso.renta_bruta_publico|currency:'S/.':'symbol':'4.0-0'}}</span>
             </div>
             <div >
              <span *ngIf="ingreso.renta_individual_privado == 0">RENTA INDIVIDUAL PRIVADA: S/. 0.0 </span>
              <span *ngIf="ingreso.renta_individual_privado!= 0">RENTA INDIVIDUAL PRIVADA: {{ingreso.renta_individual_privado|currency:'S/.':'symbol':'4.0-0'}}</span>
             </div>
             <div >
              <span *ngIf="ingreso.renta_individual_publico == 0">RENTA INDIVIDUAL PUBLICA: S/. 0.0 </span>
              <span *ngIf="ingreso.renta_individual_publico!= 0">RENTA INDIVIDUAL PUBLICA: {{ingreso.renta_individual_publico|currency:'S/.':'symbol':'4.0-0'}} </span>
             </div>
             <div class="centro_trabajo">
               AÑO {{ingreso.anio_ingresos}}
             </div>
        </div>
      </div>
      <div *ngIf="!candidato.ingresos" class="vacio">
        No se encontraron datos  
      </div>
    </div>

    <div class="candidato-experienciapolitica-wrapper">
      <div class="tile-wrapper">
        <span style="color: #274482;" class="material-icons">home</span>
        <span class="title">
          <label>Bienes Inmuebles</label>
        </span>
      </div>
      <div *ngIf="candidato.inmuebles">
        <div *ngFor="let inmueble of candidato.inmuebles" class="indicador-detail">
            <div>
              {{inmueble.direccion}} 
            </div>
            <div class="centro_trabajo">
              {{inmueble.tipo}} - SUNARP {{inmueble.partida_sunarp}}
            </div>
            <div  *ngIf="inmueble.valor" class="anio_trabajo_desde">
            {{inmueble.valor|currency:'S/.':'symbol':'4.0-0'}}
            </div>
        </div>
      </div>
      <div *ngIf="!candidato.inmuebles" class="vacio">
        No se encontraron datos  
      </div>
    </div>

    <div class="candidato-experienciapolitica-wrapper">
      <div class="tile-wrapper">
        <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          directions_car
        </mat-icon>
        <span class="title">
          <label>Bienes Muebles</label>
        </span>
      </div>
      <div *ngIf="candidato.muebles">
        <div *ngFor="let mueble of candidato.muebles" class="indicador-detail">
          <div>
            {{mueble.caracteristica}} 
          </div>
          <div class="centro_trabajo">
            {{mueble.vehiculo}} - {{mueble.placa}}
          </div>
          <div class="centro_trabajo">
            <span  *ngIf="mueble.marca">
              {{mueble.marca}}
            </span>
            <span  *ngIf="mueble.modelo">
              - {{mueble.modelo}}
            </span>
          </div>
          <div *ngIf="mueble.valor" class="centro_trabajo">
            {{mueble.valor|currency:'S/.':'symbol':'4.0-0'}} 
          </div>
        </div>
      </div>
      <div *ngIf="!candidato.muebles" class="vacio">
        No se encontraron datos  
      </div>
    </div>
    <div class="candidato-experienciapolitica-wrapper">
     
    </div>
  </mat-card>
</div>
