* {
  font-family: 'Montserrat', sans-serif;
}
.wrapper{
  position: relative;
}

.wrapper-candidatos{
  /*display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;*/
}
.medios {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.medio {
  //max-width: 450px;
  //min-width: 350px;
  margin: 20px 10px;
}

.nofound{
  color: #2c4484;
  font-size: medium;
  margin: 10px;
  text-align: center;
}
.medio-titulo {
  color: #2c4484;
  color: #001A59;
  //font-size: medium;
  font-size: 13px;
}
  .noticia {
    display: flex;
    //width: 100%;
    //height: 100%;
  }
  .card-politico{
    width: 395px;
    height: 100%;
    margin: 10px 10px;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #999;
    display: flex;
    flex-direction: column;
    padding: 0px;
    max-height: 110px !important;
    a {
      text-decoration: none;
    }

    .mat-card-title{
      //min-height: 70px;
      margin-bottom: 0px;
    }
    .mat-card-content{
        min-height: 5px;
        /*padding-top: 5px;*/
    }/*

        font-size: 12px;
        display: flex;
        flex-direction: column;
        .line{
            width: 90%;
        }
        .texto{
            display: flex;
            align-items: center;
        }
        
    }*/
}
.multimedia {
  flex: 35;
  height: 100%;
}
.texto {
  flex: 65;
  padding-right: 6px;
  padding-left: 12px;
  padding-top: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card {
  padding: 8px;
}
.card__footer {
  color: #999;
  color: #001A59;
  //padding-bottom: 5px;
  margin: 0px;
  font-size: 10px;
}
.imgNoticia {
  height: 100%;
}
.imgNoticia img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.youtube-player {
  position: relative;
  //padding-bottom: 56.25%;
  //height: 0;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  //margin: 5px;
  border-radius: 10px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}


@media only screen and (max-width: 450px) {
  .card-politico{
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
  }
}