<div class="wrapper">
    <div class="wrapper-noticias">

        <div *ngIf="candidato" class="candidato">
            <mat-card class="mat-card mat-focus-indicator">
                <div *ngIf="candidato.medios" class="medios">
                    <div *ngFor="let medio of candidato.medios" class="medio">
                        <mat-card class="card-politico" fxLayoutAlign="space-around stretch">
                            <div class="texto">
                                <a target="_blank" href="{{ medio.url }}">
                                <mat-card-title class="medio-titulo">{{ medio.titulo }}</mat-card-title>
                                </a>   
                                <p class="card__footer">{{ medio.fecha }} - {{ medio.medio }}</p>
                            </div>

                            <mat-card-content class="multimedia">
                                <div *ngIf="medio.tipo == 'video'" class="youtube-player">
                                    <iframe width="360" height="200" [src]=youtubeEmbed(medio.url) frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <!--
                                    <iframe width="360" height="200" [src]=videoEmbedSanitized  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    -->
                                </div>
                                <div *ngIf="medio.tipo == 'web' || medio.tipo == 'articulo'" class="imgNoticia">
                                    <img *ngIf="medio.imagen!=''" src="{{ medio.imagen }}" alt="Imagen de la noticia">
                                    <img *ngIf="medio.imagen==''" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2x25WRuS-zUko0mD1rHVdL-iiF66Vm--eKQ&usqp=CAU" alt="Imagen de la noticia">
                                </div>
                            </mat-card-content> 
                        </mat-card>
                    </div> 
                </div>
                
                <div *ngIf="candidato.medios==null" class="nofound">
                    <h1><strong>Noticias próximamente</strong></h1>
                </div>
                
            </mat-card>
        </div>

    </div>
    
</div>