<div class="container-ayuda">
    <div id="imagen-ayuda">
        <img src="./assets/images/logo/Candidatos112.png" alt="">
    </div>
    <div id="texto-ayuda">
        <h2><b>Descubre todo lo que puedes hacer en Candidatos.pe</b></h2>

        <h3>1) Investiga a tus candidatos:</h3>
        <ul style= "list-style-type: square">
            <li>Perfil profesional</li>
            <li>Si tienen sentencias</li>
            <li>Cargos o gestiones anteriores</li>
            <li>Intereses económicos</li>
            <li>Noticias de hechos reelevantes</li>
            <li>Y mucho más...</li>
        </ul>

        <h3>2) ¿Te representa?</h3>
        <ul style= "list-style-type: square">
            <li>Elige si un candidato te representa o no te representa 
                <mat-icon class="material-icons material-icons-outlined">thumb_up</mat-icon>  &nbsp;
                <mat-icon class="material-icons material-icons-outlined">thumb_down</mat-icon>                    
            </li> 
            <li>Tendrás una lista de los candidatos que apruebas y los que rechazas</li>
            <li>¡El día de la votación podrás elegir a quien mejor te represente!</li>
        </ul>

        <h3>3) Compártelo en tus redes
            <mat-icon class="material-icons material-icons-outlined">facebook</mat-icon>     
        </h3>
    </div>
</div>