<div class="container-ayuda">
    <div id="imagen-ayuda">
        <img src="./assets/images/logo/Candidatos112.png" alt="">
    </div>
    <div id="texto-ayuda">
        <h2><b>Descubre todo lo que puedes hacer en <u>Candidatos</u><u class="azul">.pe</u></b></h2>

        <h3>1) Investigar a tus candidatos:</h3>
        <ul style= "list-style-type: square">
            <li>Perfil profesional</li>
            <li>Si tienen sentencias</li>
            <li>Cargos o gestiones anteriores</li>
            <li>Intereses económicos</li>
            <li>Noticias de hechos relevantes</li>
            <li>Y mucho más...</li>
        </ul>

        <h3>2) ¿Te representa?</h3>
        <ul style= "list-style-type: square">
            <li>Elige si un candidato <u class="azul">te representa</u> o <u>no te representa</u> &nbsp;
                <mat-icon class="material-icons material-icons-outlined">thumb_up</mat-icon>  &nbsp;
                <mat-icon class="material-icons material-icons-outlined">thumb_down</mat-icon>                    
            </li> 
            <li>Tendrás una lista de los candidatos que apruebas y los que rechazas</li>
            <li>¡El día de la votación podrás elegir a quien mejor te represente!</li>
        </ul>

        <h3>3) Compartir en tus redes
            <!--<mat-icon class="material-icons material-icons-outlined">facebook</mat-icon> -->
        </h3>
        <div id="social-button">
            <div>
                <button class="social-media" mat-icon-button>
                    <a href="https://www.facebook.com/sharer.php?u=https://www.candidatos.pe"  target="_blank" >
                        <img src="assets/images/iconos/fb.svg">
                    </a>
                </button>
                <button class="social-media" mat-icon-button>
                    <a href="https://twitter.com/intent/tweet?url=https://www.candidatos.pe&text=Nuestra rebeldia es estar informados &hashtags=candidatos2021"  target="_blank" >
                        <img src="assets/images/iconos/twt.svg">
                    </a>
                </button>
                <button class="social-media" mat-icon-button>
                    <a href="https://api.whatsapp.com/send?text=Los invito a dar click y compartir https://www.candidatos.pe/  |  Web con información de los candidatos que participan en las elecciones 2021, donde encuentras de manera fácil y sencilla las hojas de vida, planes de gobierno y noticias del candidato y partido para ser un elector informado y realizar un voto responsable." target="_blank">
                        <img src="assets/images/iconos/wtspp.svg">
                    </a>
                </button>
            </div>
        </div>

        <div class="buscar-por">
            <button type="submit" routerLink="/partidos/." class="btn-buscar">Buscar por partidos</button>
            <button type="submit" routerLink="/candidatos/." class="btn-buscar">Buscar por candidatos</button>
        </div>
    </div>
</div>