<div >
        <marquee  scrollDelay="125"  behavior="scroll" direction="up"> 
        <p dir="ltr"><span >Somos un grupo de ciudadanos voluntarios que busca</span></p>
        <p dir="ltr"><span >facilitar el acceso a la informaci&oacute;n de las elecciones 2021,</span></p>
        <p dir="ltr"><span >para ser ciudadanos cr&iacute;ticos y responsables en el Voto por el Per&uacute;.</span></p>
        <p><br></p>
        <p dir="ltr"><span >Nos conocimos por el Desaf&iacute;o Anticorrupci&oacute;n de DSRP</span></p>
        <p><br></p>
        <p dir="ltr" ><span class="equipos">Equipo Candidatos.pe</span></p>
        <p dir="ltr"><span >Angela Haro - Gesti&oacute;n - An&aacute;lisis de datos</span></p>
        <p dir="ltr" ><span >Luis Yupanqui - &nbsp;Scraper - Front end</span></p>
        <p dir="ltr" ><span >Diego Machaca - Back end - DevOps</span></p>
        <p dir="ltr" ><span >Fernando Candela - Front end</span></p>
        <p dir="ltr" ><span >Daniel Tejada - &nbsp;Front end</span></p>
        <p dir="ltr" ><span >Bernick Salvador Rosas - Analista datos</span></p>
        <p dir="ltr" ><span >Elvis Rivera - Front end</span></p>
        <p dir="ltr" ><span >Jos&eacute; Garc&iacute;a Castillo - Back end</span></p>
        <p dir="ltr" ><span >Sebastian Brancacho - Front end</span></p>
        <p dir="ltr" ><span >Christopher Coronel - Dise&ntilde;o Web</span></p>
        <p dir="ltr" ><span >Ayelen Gallardo - Ux Dise&ntilde;o</span></p>
        <p dir="ltr" ><span >Ruth Castro - Ux - Dise&ntilde;o</span></p>
        <p dir="ltr" ><span >Monica Motta - Ux - Dise&ntilde;o</span></p>
        <p dir="ltr" ><span >Diandra - Testing</span></p>
        <p dir="ltr" ><span >Josu&eacute; Salas - UX</span></p>
        <p dir="ltr" ><span >Larry Sanchez - Ux - Analista</span></p>
        <p dir="ltr" ><span >Sebastien Polis - Data science&nbsp;</span></p>
        <p dir="ltr" ><span >Jhon Lee - Analista&nbsp;</span></p>
        <p dir="ltr" ><span >Daniela &Aacute;lvarez - Recopilaci&oacute;n de datos</span></p>
        <p dir="ltr" ><span >Elizabeth Mercedes Yaco Arisaca - Recopilaci&oacute;n de datos</span></p>
        <p dir="ltr" ><span >Carlos Aquino - Analista</span></p>
        <p dir="ltr" ><span >Mart&iacute;n Guzm&aacute;n - Analista</span></p>
        <p dir="ltr" ><span >Yamile Celis - Recopilaci&oacute;n de datos</span></p>
        <p dir="ltr" ><span >Karol Limaymanta - Recopilaci&oacute;n de datos</span></p>
        <p dir="ltr" ><span >Astrid Avellaneda - Recopilaci&oacute;n de datos</span></p>
        <p dir="ltr" ><span >Romel Arce</span></p>
        <p dir="ltr" ><span >Diego Yovera</span></p>
        <p dir="ltr" ><span >Cielo Escobedo</span></p>
        <p dir="ltr" ><span >Yenifer Rodriguez</span></p>
        <p><br></p>
        <p dir="ltr" ><span class="equipos">Equipo Medios El B&Uacute;HO</span></p>
        <p dir="ltr" ><span >M&aacute;bel C&aacute;ceres - Periodista</span></p>
        <p dir="ltr" ><span >Ib&oacute;n &nbsp;Machaca - Periodista</span></p>
        <p dir="ltr" ><span >Josu&eacute; Del Mar - Periodista</span></p>
        <p dir="ltr" ><span >Cristhian Cruz Torres - Periodista</span></p>
        <p dir="ltr" ><span >Sofia Huilcape Melendez - Periodista</span></p>
        <p><br></p>
        <p dir="ltr" ><span class="equipos">Equipo MDP - Plan de gobierno (Power bi)</span></p>
        <p dir="ltr" ><span >Enrique Alb&aacute;n Ipanaque</span></p>
        <p dir="ltr" ><span >Angel Fernando Luglio Aguilar</span></p>
        <p dir="ltr" ><span >Fernando Manuel Valverde Uchoffen</span></p>
        <p dir="ltr" ><span >Jean Hector Avellaneda Paitan</span></p>
        <p dir="ltr" ><span >Manuel Elmer Esteban Guarniz Cruz</span></p>
        <p dir="ltr" ><span >Luis Miguel Sakihama Miyashiro</span></p>
        </marquee>     
</div>
