p{
    line-height:1.38;
    text-align: center;
    margin-top:0pt;
    margin-bottom:0pt;
}
span{
    font-size:10pt;
    font-family:Arial;
    color:#000000;
    background-color:transparent;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-decoration:none;
    vertical-align:baseline;
    white-space:pre;
    white-space:pre-wrap;
}
.equipos{
    font-weight:700;
}