p{
    line-height:1.38;
    text-align: center;
    margin-top:0pt;
    margin-bottom:0pt;
}
span{
    font-size:10pt;
    font-family:normal normal medium 19px/23px Montserrat;
    color:#000000;
    background-color:transparent;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-decoration:none;
    vertical-align:baseline;
    white-space:pre;
    white-space:pre-wrap;
}
.equipos{
    font-weight:700;
}
marquee{
    height: calc(93vh - 111px - 150px);
 }

@media only screen and (max-width: 426px) {
    marquee{
        height: calc(92vh - 111px );
     }

  }