.filtrado{
    margin: 10px 10px 0 10px;
    // .filterRegion{
    //     height: 50px;
    // }
    // .filterOrg{
    //     height: 50px;
    // }
}

@media only screen and (max-width: 480px) {
  .filterRegion ,.filterOrg{
    font-size:10px ;
    width: 120px !important;
    }
}


.container{
    color: #2c4484;
    font-size: medium;
}
.container2{
    color: #2c4484;
    font-size: medium;
    margin: 10px;
}

.scrollB{
    height: 100vh;
    overflow: scroll;
    // background-color:red;
  }
  mat-form-field{
      margin-left: 10px;
  }

.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner ::ng-deep .mat-spinner circle {
    stroke: #000000;
}


.wrapper{
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  }
  
.congresistas{
  width: 400px ;
  margin: 20px 0px 40px 0px;

}


  
@media only screen and (max-width: 400px) {
  .congresistas{
    width: 100% ;
  }
}
  
  // @media only screen and (min-width: 1250px) {
  //   .congresistas{
  //     max-width: 600px ;
  //     min-width: 500px;
  //   }
  // }