<div *ngIf="congresistas">
    <div class="wraper-filtrado-search">
        <div class="filtrado"  fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="5px"  *ngIf="!notesText">
            <div fxLayoutAlign="center center">
                <mat-form-field appearance="fill" class="filterRegion">
                    <mat-label>Región</mat-label>
                    <mat-select [(value)]="unigeoIdSelect"  (selectionChange)="onFiltroRegion($event.value)">
                        <mat-option value="sinseleccion1" >SIN SELECCIÓN</mat-option>
                        <mat-option *ngFor="let region of REGIONES" [value] = "region.id">
                            {{region.distrito_electoral}}
                        </mat-option>    
                    </mat-select>
                </mat-form-field>
            
                <mat-form-field appearance="fill" class="filterOrg">
                    <mat-label>Partido</mat-label>
                    <mat-select  [(value)]="orgIdSelect" (selectionChange)="onFiltroOrganizacion($event.value)">
                        <mat-option value="sinseleccion2" >SIN SELECCIÓN</mat-option>
                        <mat-option *ngFor="let partido of ORGANIZACIONES" [value] = "partido.id">
                            {{partido.nombre}}
                        </mat-option>    
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center center">
                <div class="masfiltros" [hidden]="masFiltros">
                    <mat-form-field  appearance="fill" class="filterEdu">
                        <mat-label>Max. Educación</mat-label>
                        <mat-select [formControl]="selecEdu"(selectionChange)="onFiltroEdu()" multiple>
                            <mat-option value="1">Educación primaria</mat-option>
                            <mat-option value="2">Educación secundaria</mat-option>
                            <mat-option value="3">Estudios técnicos</mat-option>
                            <mat-option value="4">Estudios no universitarios</mat-option>
                            <mat-option value="5">Universitario</mat-option>
                            <mat-option value="6">Post grado</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" class="filterSentencias">
                        <mat-label>Sentencias</mat-label>
                        <mat-select [formControl]="selecSentencias" (selectionChange)="onFiltroSentencias()"multiple>
                            <mat-option value="8">Sentencias Civiles</mat-option>
                            <mat-option value="9">Sentencias Penales</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>



            <div fxLayoutAlign="center center"  >
                <button  mat-button  class="btnmasFiltro" (click)="onVerMas()">{{masFiltros ? 'Más' : 'Menos'}} Filtros</button>
            </div>
        </div>
        <!-- (unigeoIdSelect == '' || unigeoIdSelect == 'sinseleccion1' || unigeoIdSelect == '140100') && (orgIdSelect == 'sinseleccion2' || orgIdSelect == '')  -->
        <div fxLayoutAlign="center center" class="search" *ngIf="unigeoIdSelect == '' || 
        (unigeoIdSelect == 'sinseleccion1' || 
        unigeoIdSelect == '140100') &&
        (orgIdSelect == 'sinseleccion2' || 
        orgIdSelect == '' ) &&
        txtselecSentencias == '' && 
        txtselecEdu == '' ">
            <mat-form-field class="busqueda">
                <mat-label>
                    Nombre
                </mat-label>
                <input 
                matInput 
                placeholder="Escriba su nombre"
                type="text" 
                (keyup)="search($event.target.value)"
                >
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>


        
    </div>
    <div
        class="scrollB"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScrollB()"
        [scrollWindow]="false"
        [infiniteScrollDisabled] = "notesText"

        >
        <span [ngSwitch]="congresistas.length">
            <span *ngSwitchCase = 0 >
              <div class="container2">
                <span >
                    <strong>                    
                         No se encontraron candidatos...
                    </strong>        
                </span>
              </div>
        
            </span>
            <span *ngSwitchDefault class="wrapper">
                <div *ngFor="let candidato of congresistas" class="congresistas">
                    <app-card-candidato [candidato]="candidato"></app-card-candidato> 
                </div>
                <div class="spinner">
                    <mat-spinner *ngIf="showLoader"  diameter=40 ></mat-spinner>
                </div>
            </span>
        </span>
        
    </div>
    
</div>

    