<div class="Containerfooter" fxHide.xs>
<div class="container1">
    <div class="conteinerLogo" fxLayoutAlign="center center">
        <div class="contenedorImg">
                <img class="imgLogo">
        </div>
    </div>

</div>

<div class="container2" fxFlexAlign="center" fxLayout="row" fxLayoutAlign="space-around center">

    <div >
        <p>Copyright © 2021 | Mr Coronel Design</p>
    </div>
    <div>
        <p>Desarrollado por: Candidatos.pe | Proyectos Anticorrupción | Dsrp</p>
    </div>
    <div>
        <p>Colaboradores: El Buho.pe | MDP</p>
    </div>

</div>

</div>
