<div class="Containerfooter" fxHide.xs>
    <div class="container1">
        <div class="conteinerLogo" fxLayoutAlign="center center">
            <div class="contenedorImg">
                    <img class="imgLogo">
            </div>
        </div>
        <div class="share">
            <button mat-icon-button>
                <a href="https://www.facebook.com/sharer.php?u=https://www.candidatos.pe"  target="_blank" >
                    <img src="assets/images/iconos/facebook.svg">
                </a>
            </button>
            <button mat-icon-button>
                <a href="https://twitter.com/intent/tweet?url=https://www.candidatos.pe&text=Nuestra rebeldia es estar informados &hashtags=candidatos2021"  target="_blank" >
                    <img src="assets/images/iconos/twitter.svg">
                </a>
            </button>
        </div>

    </div>

    <div class="container2" fxLayoutGap="50px" fxLayout="row" fxLayoutAlign="space-around stretch">

        <!-- <div >
        </div> -->
        <div  >
            <div class="indicador" fxLayoutAlign="center center">
                <p>Desarrollado por: Candidatos.pe | Proyectos Anticorrupción | DSRP | </p>
                <!--<a routerLink="/acercade/." routerLinkActive='active'> Acerca de nosotros</a>-->
                <button  routerLink="/acercade/." routerLinkActive='active' mat-button  class="btnAcercade"> Acerca de nosotros</button>
            </div>
            <div class="indicador" fxLayoutAlign="center center">
                <p>Copyright © 2021 | Mr Coronel Design</p>
            </div>
            <div class="indicador" fxLayoutAlign="center center">
                <p>Colaboradores: El Buho.pe | MDP</p>
            </div>
            <div class="indicador"fxLayoutAlign="center center">
                <p>contacto.candidatos.pe@gmail.com</p>
            </div>


        </div>
        <div >
            <div class="indicador"fxLayoutAlign="center center">
                <p>Datos obtenidos de:</p>    
            </div>
            <div class="indicador"fxLayoutAlign="center center">
                <p>Jurado Nacional de Elecciones</p>
            </div>
            <!-- <div class="indicador"fxLayoutAlign="center center">
                <p>Datos Abiertos Perú</p>
            </div> -->
            <div class="indicador"fxLayoutAlign="center center">
                <p>Medios de comunicación locales y nacionales</p>
            </div>
            <div class="indicador" fxLayoutAlign="center center">
                <p>Ultima actualización: 26 febrero de 2021 | </p>
                <a fxLayoutAlign="center center" href="https://forms.gle/nyAvUJrKixH5tcyz7" target="_blank"  routerLinkActive='active' mat-button  class="btnAcercade">Dejanos tu feedback</a>
            </div>

        </div>

    </div>

</div>
