<div class="Containerfooter" fxHide.xs>
    <div class="container1">
        <a routerLink="/partidos/.">
        <div class="conteinerLogo" fxLayoutAlign="center center">
            <div class="contenedorImg">
                    <img class="imgLogo">
            </div>
        </div>
        </a>

    </div>

    <div class="container2" fxLayoutGap="50px" fxLayout="row" fxLayoutAlign="space-around stretch">

        <!-- <div >
        </div> -->
        <div  >
            <div class="indicador" fxLayoutAlign="center center">
                <p>Desarrollado por: Candidatos.pe | Proyectos Anticorrupción | <a class="link_DS" target="_blank" href="https://www.datascience.pe/" style="text-decoration: none;color: white;">DSRP</a> | </p>
                <!--<a routerLink="/acercade/." routerLinkActive='active'> Acerca de nosotros</a>-->
                <button  routerLink="/acercade/." routerLinkActive='active' mat-button  class="btnAcercade"> Acerca de nosotros</button>
            </div>
            <div class="indicador" fxLayoutAlign="center center">
                <p>Copyright © 2021 | Candidatos.pe | Mr Coronel Design</p>
            </div>
            <div class="indicador" fxLayoutAlign="center center">
                <p>Colaboradores: <a href="https://elbuho.pe/" target="_blank" routerLinkActive='active' mat-button  class="btnAcercade"> El Buho.pe</a> | <a href="https://www.mdp.com.pe/" target="_blank" routerLinkActive='active' mat-button  class="btnAcercade">MDP</a></p>
            </div>
            <div class="indicador"fxLayoutAlign="center center">
                <a href="mailto:contacto.candidatos.pe@gmail.com"  mat-button  class="btnAcercade"><p>contacto.candidatos.pe@gmail.com</p></a>
            </div>


        </div>
        <div >
            <div class="indicador"fxLayoutAlign="center center">
                <p>Datos obtenidos de:</p>    
            </div>
            <div class="indicador"fxLayoutAlign="center center">
                <p><a mat-button href="https://plataformaelectoral.jne.gob.pe/" target="_blank"  class="btnAcercade"> JNE - Jurado Nacional de Elecciones</a> | <a href="https://www.onpe.gob.pe/modElecciones/elecciones/2021/EEGG/" target="_blank" mat-button  class="btnAcercade" >ONPE</a></p>
            </div>
            <!-- <div class="indicador"fxLayoutAlign="center center">
                <p>Datos Abiertos Perú</p>
            </div> -->
            <div class="indicador"fxLayoutAlign="center center">
                <p>Medios de comunicación locales y nacionales</p>
            </div>
            <div class="indicador" fxLayoutAlign="center center">
                <p>Ultima actualización: 21 marzo de 2021 | </p>
                <a fxLayoutAlign="center center" href="https://forms.gle/nyAvUJrKixH5tcyz7" target="_blank"  routerLinkActive='active' mat-button  class="btnAcercade">Dejanos tu feedback</a>
            </div>

        </div>

    </div>

</div>
