.card-politico{
    //margin-bottom: 20px;
    //margin-top: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #999;
    position: relative;
    height: 100%;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    flex-direction: column ;

    .header{
        .header-image-title{
            display: flex;
            justify-content:flex-start;
            flex-wrap: nowrap; 
            .content-primary{
                position: relative;
                margin-left: 10px;
                overflow: auto;

                .partido-name{
                    margin-bottom: 5px;
                    p{
                        margin: 0;
                    }
                    //font-size:  11px;
                    //color: #938D8D;
                    font-size: 13px;
                    color: #FF005C;
                    font-weight: 600;
                }
                .card-name{
                    font-size:18px;
                    color: #132158;
                    //font-weight: 500;
                    margin-bottom: 4px;
                    p{
                        margin: 0;
                    }
                }
                .profesion{
                    font-size: 12px;
                    //font-size:13px;
                    //color: #938D8D;
                    color: #132158;
                }
            } 
            .number{
                position: absolute;
                right: 10px;
                top:15px;
                font-size:36px;
                color: #938D8D;
            }
            .header-image{
                position: relative;
                width: 100px;
                height: 120px;
                .imgCandidato{
                    border-radius: 10%;
                    width: 81px;
                    height: 108px;
                    border: 1px solid;
                     border-color: #C4C4C4;
                    //border-color: rgb(232, 6, 6);
                }
                .imgPartido{
                    position: absolute;
                    right: 0px;
                    bottom:0px;
                    border-radius: 10px;
                    width: 35px;
                    height: 35px;
                    //border: 1px solid;
                    // border-color: black;
                }
            }
        }
        .content-secondary{
            position: relative;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column ;
            margin-top: 10px;
            margin-left: 5px;
            margin-bottom: 10px;

            .indicador{
                font-size:12px;
                //color:#515151;
                color: #132158;
                display: flex;
                align-items: center;
                //justify-content: center;
                margin-bottom: 10px;
                .indicador-detail{
                    display: flex;
                    align-items: center;
                    //justify-content: center; 
                    div{
                        display: flex;
                        align-items: center;
                        //justify-content: center; 
                    }
                }
            }
        }
        .me-representa{
            position: absolute;
            right: 10px;
            bottom: 70px;
            img{
                width: 70px;
                height: 70px;
            }
        }
        
    }
    .footer{
        // position: absolute;
        // bottom:0;
        width:100%;
        .mat-card-actions{
            // width:100%;

            font-size: 12px;
            display: flex;
            flex-direction: row ;
            justify-content:space-between ;
            margin-bottom: 0;
            width:100%;

            .actions-ver-mas{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            .actions-merepresenta{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                // min-width: 100px;
                .text{
                    // cursor: crosshair;
                    text-align:center;
                }
            }
        }
    }

}


.sinAbsolute{
    position: relative;
}
.conAbsolute{
    position: absolute;
    bottom:0;
    left: 0;
}

p{
    margin: 0;
}
hr{
    border: 0.5px solid #ebebeb;
}


.card-header{
    width: 100%;
    display: block;
}

.card-position{
    width: 100%;
    text-align: center;

}
.container{
    margin: 10px;
}

.deactivate{
    // background-color: blue;
    color: #828282;

}
.actions-merepresenta{
    color: #828282;

}

.actions-ver-mas{
    color: #828282;

}
.thumb_down{
    color: #000000;
    
}

.thumb_up{
    color: #040404;

}


.fondoPolitico{
    color: #DBA837;
    margin-right: 5px;
}

.fondoSentencias{
    color: #DF2854;
    margin-right: 5px;

}

.fondoAcademico{
    color: #1CBAD9;
    margin-right: 5px;

}

.boton_personalizado{
    /*text-decoration: none;
    padding: 10px;
    height: 35px;*/
    width: 150px;
    color: #ffffff;
    border-color: none;
    background-color: #3D94FC;
    border-radius: 30px;
    border: 0px;
    /*align-items: center;
    display: flex;
    justify-content: center;*/
    font-weight: normal;
}
.boton_personalizado:hover{
background-color: #FF005C;
}
