.card-politico{
    margin-bottom: 20px;
    margin-top: 10px;
    .header{
            display: flex;
            justify-content:flex-start;
            flex-wrap: nowrap; 
            .header-image{
                position: relative;
                width: 100px;
                height: 120px;
                .imgCandidato{
                    border-radius: 10%;
                    width: 81px;
                    height: 108px;
                    border: 1px solid;
                     border-color: #C4C4C4;
                    //border-color: rgb(232, 6, 6);
                }
                .imgPartido{
                    position: absolute;
                    right: 0px;
                    bottom:0px;
                    border-radius: 10px;
                    width: 35px;
                    height: 35px;
                    //border: 1px solid;
                    // border-color: black;
                }
            }

            .content{
                margin-left: 20px;
                min-width: 100px;  
                .card-name{
                    font-size: 20px;
                }      
                .content-primary{
                    overflow: auto;
                }        
            }
    }
    .mat-card-actions{
        font-size: 12px;
        display: flex;
        .texto{
            display: flex;
            align-items: center;
        }
    }
}

hr{
    border: 0.5px solid #ebebeb;
}
.partido-name{
    font-size:  11px;
    color: #938D8D;
}



.card-header{
    width: 100%;
    display: block;
}

.card-position{
    width: 100%;
    text-align: center;

}
.container{
    margin: 10px;

}
.profesion{
    //margin-left: 50px;
}

