.card-politico{
    margin-bottom: 20px;
    margin-top: 10px;
    .header{
            display: flex;
            justify-content:flex-start;
            flex-wrap: nowrap; 

            .header-image{
                position: relative;
                width: 100px;
                height: 120px;
                .imgCandidato{
                    border-radius: 80%;
                    width: 81px;
                    height: 108px;
                    border: 2px solid;
                    // border-color: rgb(228, 22, 22);
                    border-color: rgb(232, 6, 6);
                }
                .imgPartido{
                    position: absolute;
                    right: 0px;
                    bottom:0px;
                    border: 1px solid;
                    // border-color: black;
                }
            }

            .content{
                margin-left: 20px;
                min-width: 100px;  
                .card-name{
                    font-size: 20px;
                }              
            }

            .orgPolitcaImg{
                // align-self: flex-start;
                margin-left: auto;
            }
    }
    .mat-card-actions{
        font-size: 12px;
        display: flex;
        .texto{
            display: flex;
            align-items: center;
        }
    }
}

hr{
    border: 0.5px solid #ebebeb;
}



.card-header{
    width: 100%;
    display: block;
}

.card-position{
    width: 100%;
    text-align: center;

}
.container{
    margin: 10px;

}

