<mat-card class="card-politico">
    <!-- N° {{candidato.jne_posicion}}.  -->
        <div class="header">
            <div class="header-image-title">
                <div mat-card-avatar  class="header-image">
                    <img class="imgCandidato" src="{{candidato.ruta_archivo}}" />
                    <img class="imgPartido" src="{{candidato.organizacion_politica_logo}}" />
                </div>  
                <div class="content-primary">
                    <div class="partido-name" >
                        <p>
                            {{candidato.jne_organizacion_politica}} - {{candidato.distrito_electoral}} 
                        </p>
                    </div>
                    <div class="card-name">
                        <p>
                        {{candidato.nombres}} {{candidato.apellido_paterno}} {{candidato.apellido_materno}}
                        </p>    
                    </div>
                    <div class="profesion"> 
                        <p >{{candidato.profesion}} <br>                 
                        </p>
                    </div>
                    <!-- <div class="number">
                        {{candidato.jne_posicion}}
                    </div> -->
                </div>
                <div class="number" *ngIf="!fromPresidente">
                    {{candidato.jne_posicion}}
                </div>
            </div >
            <div class="content-secondary">
                    <div *ngFor="let indicador of candidato.indicadores, let i = index" class="indicador">
                        <div [ngSwitch]="indicador.indicador_id" class="indicador-detail">
                            <div *ngSwitchCase= 2>
                                <mat-icon   class="fondoPolitico" aria-hidden="true">
                                    account_balance
                                </mat-icon>
                                <span>
                                    EX - {{indicador.indicador_categoria}}
                                </span>
                            </div>
                            <div *ngSwitchCase= 8>
                                <mat-icon class="fondoSentencias"  aria-hidden="true">
                                    gavel
                                </mat-icon>
                                <span>
                                    CON {{indicador.cantidad}} Sentencia(s)  {{indicador.indicador}}
                                </span>
                            </div>
                            <div *ngSwitchCase= 9>
                                <mat-icon class="fondoSentencias"  aria-hidden="true">
                                    gavel
                                </mat-icon>
                                    CON {{indicador.cantidad}} Sentencia(s) {{indicador.indicador}}
                            </div>
                            <div *ngSwitchCase= 11>
                                    • {{indicador.cantidad}}-{{indicador.indicador_categoria}}
                            </div>
                            <div *ngSwitchDefault>
                                    • {{indicador.indicador_categoria}}
                            </div> 
                        </div>
                        <br>
                    </div>
            </div>

        </div>
    <mat-card-content *ngIf="!fromDetalle" class="container">

        <!-- <div fxLayout="row" fxLayoutAlign="end center">
            <p> DNI: {{candidato.documento_identidad}} - jne_idhojavida : {{candidato.jne_idhojavida}} </p>
        </div> -->
        
    </mat-card-content>
    <mat-card-content *ngIf="fromDetalle" class="container">
        <p>
            <span *ngFor="let indicador of candidato.indicadores_categoria_candidato, let i = index">
                <span>- {{indicador.indicador_categoria_nombre}}</span>
                <br>
            </span>
        </p>
    </mat-card-content>
    <div>
        <hr>
        <mat-card-actions>
            <div class="actions-ver-mas" *ngIf="!fromDetalle">
                <button routerLink="/candidato/{{candidato.id}}" [state]="candidato" mat-button >
                    <mat-icon>description</mat-icon> <span> Ver más</span>             
                </button>
            </div>
            <div class="actions-merepresenta" >
                <div>
                    <button mat-button (click)="representa(0)" 
                    [ngClass]="{'deactivate': step === 'step00', 'thumb_down':step === 'step01' }"
                    >
                        <mat-icon>thumb_down_outline</mat-icon> <span> No me representa</span>             
                    </button>
                </div>
                <div>
                    <button mat-button (click)="representa(1)"
                    [ngClass]="{'deactivate': step === 'step10', 'thumb_up':step === 'step11' }"
                    >
                        <mat-icon>thumb_up</mat-icon> <span> Me representa</span>             
                    </button>
                </div>
            </div>

        </mat-card-actions>      
    </div>
</mat-card>