<mat-card class="card-politico">
        <div class="header">
            <div mat-card-avatar  class="header-image">
                <img class="imgCandidato" src="{{candidato.ruta_archivo}}" />
                <img class="imgPartido" mat-card-avatar src="{{candidato.organizacion_politica_logo}}" />
            </div>
            <div class="content">
                <div class="card-name">
                    {{candidato.jne_posicion}}. {{candidato.nombres}} {{candidato.apellido_paterno}} {{candidato.apellido_materno}}
                </div>
                <div>
                    <p>{{candidato.profesion}}</p>
                    <p>{{candidato.distrito_electoral}} </p>
                    <p>DNI: {{candidato.documento_identidad}} - jne_idhojavida : {{candidato.jne_idhojavida}}</p>
                </div>
            </div>
        </div>
    <mat-card-content *ngIf="!fromDetalle" class="container">
        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span [ngSwitch]="indicador.indicador_id">
                    <span *ngSwitchCase= 2>• EX {{indicador.indicador_categoria}}</span>
                    <span *ngSwitchCase= 8>• Con {{indicador.cantidad}} Sentencia(s)  {{indicador.indicador}}</span>
                    <span *ngSwitchCase= 9>• Con {{indicador.cantidad}} Sentencia(s) {{indicador.indicador}}</span>
                    <span *ngSwitchCase= 11>• {{indicador.cantidad}}-{{indicador.indicador_categoria}}</span>
                    <span *ngSwitchDefault>• {{indicador.indicador_categoria}}</span> 
                </span>
                <br>
            </span>
        </p>
    </mat-card-content>
    <mat-card-content *ngIf="fromDetalle" class="container">
        <p>
            <span *ngFor="let indicador of candidato.indicadores_categoria_candidato, let i = index">
                <span>- {{indicador.indicador_categoria_nombre}}</span>
                <br>
            </span>
        </p>
    </mat-card-content>
    <div *ngIf="!fromDetalle">
        <hr>
        <mat-card-actions >
            <button routerLink="/candidato/{{candidato.id}}" [state]="candidato" mat-button >
                <mat-icon>description</mat-icon> <span> Ver más</span>             
            </button>
        </mat-card-actions>      
    </div>

</mat-card>