<mat-card class="card-politico">

    <mat-card-header>    
        <div mat-card-avatar  class="header-image"><img src="{{candidato.ruta_archivo}}" /></div>
    
        <mat-card-title class="title">
          
            <div *ngIf="!fromPartido" fxLayout="row" fxLayoutAlign="end center">
                <span>
                    <div mat-card-avatar ><img class="imgPartido" mat-card-avatar src="{{candidato.organizacion_politica_logo}}" />
                    </div>

                    <div fxFlex> 
                    <p>
                        {{candidato.jne_organizacion_politica}}
                    </p>
                    </div>
                </span>

            </div>

            <span class="card-name">
                {{candidato.jne_posicion}}. {{candidato.nombres}} {{candidato.apellido_paterno}} {{candidato.apellido_materno}}
            </span>

 
        </mat-card-title>
        <mat-card-subtitle > 
            <p>{{candidato.profesion}}</p>
            <p>{{candidato.distrito_electoral}} </p>
            <p>DNI: {{candidato.documento_identidad}} - jne_idhojavida : {{candidato.jne_idhojavida}}</p>
         </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container">
        <p>
            <span *ngFor="let indicador of candidato.indicadores, let i = index">
                <span [ngSwitch]="indicador.indicador_id">
                    <span *ngSwitchCase= 2>• EX {{indicador.indicador_categoria}}</span>
                    <span *ngSwitchCase= 8>• Con {{indicador.cantidad}} Sentencia(s)  {{indicador.indicador}}</span>
                    <span *ngSwitchCase= 9>• Con {{indicador.cantidad}} Sentencia(s) {{indicador.indicador}}</span>
                    <span *ngSwitchCase= 11>• {{indicador.cantidad}}-{{indicador.indicador_categoria}}</span>
                    <span *ngSwitchDefault>• {{indicador.indicador_categoria}}</span> 
                </span>
                <br>
            </span>
        </p>
        

    </mat-card-content>
    <hr>
    <mat-card-actions>
        <button routerLink="/candidato/{{candidato.id}}" [state]="candidato" mat-button >
            <mat-icon>description</mat-icon> <span> Ver más</span>             
        </button>
    </mat-card-actions>
</mat-card>