<!--
<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>¿Qué partido buscas?</span>
    <span class="example-spacer"></span>    
    <button mat-icon-button >
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="sideNavPrincipal" autosize>
    <mat-drawer #drawer class="menu" mode="over">
      <p>MENU</p>
    </mat-drawer>  
    <mat-drawer-content class="contenido">     
        <router-outlet></router-outlet>
        
    </mat-drawer-content>
</mat-drawer-container>
-->

    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation" class="shadow border-0" fixedInViewport>

        <mat-nav-list >     

            <div fxLayoutAlign="end" >
                <button mat-icon-button (click)="sidenav.close()" >
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>    
            <!-- <a mat-list-item routerLink="/" routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon> <span class="nav-caption">Porqué elegir bien?</span>
            </a> -->
            <h2 class="nav-caption">Candidatos.pe</h2> 
            <hr/><br>
            <a mat-list-item routerLink="/partidos" routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon> <span class="nav-caption">Partidos</span>   
            </a>
            <a mat-list-item routerLink="/candidatos" routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon> <span class="nav-caption">Candidatos</span>   
            </a>
            <!-- <a mat-list-item routerLink="/" routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon> <span class="nav-caption">Indicadores Generales</span>   
            </a> -->
            	
            <!--<hr />-->
            <a mat-list-item routerLink="/milista" routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon><span class="nav-caption">Mi lista</span>
            </a>

            <!--<hr />-->
            <div  id="acercade" > 
                <!--<hr />-->
                <!-- <a mat-list-item routerLink="/" routerLinkActive='active' (click)="sidenav.close()">
                    <mat-icon></mat-icon><span class="nav-caption">Acerca de</span>
                </a> -->
                <a mat-list-item href="https://forms.gle/nyAvUJrKixH5tcyz7" target="_blank" routerLinkActive='active' (click)="sidenav.close()" >
                    <mat-icon></mat-icon><span class="nav-caption">Dejanos tu feedback</span>
                </a>
                <div class="colab">
                    <p>   Desarrollado por:</p>
                    <p>   Grupo 1,2 Dsrp</p> <br>
                    <p>   Colaboradores: </p>
                    <p>   MDP, El Buho </p>
                </div>
                <div class="version">
                    <p>
                        v1.0 Beta
                    </p>
                </div>
            </div>
            
          </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content >
          <app-header (sidenavToggle)="sidenav.toggle()"  class="toolbar"></app-header>
        <!--
        <div (sidenavToggle)="sidenav.toggle()" >
            <mat-toolbar color="primary"  class="toolbar">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
               <span>¿Qué {{message}} buscas?</span>
                <span class="example-spacer"></span>    
                  <button mat-icon-button >
                    <mat-icon>search</mat-icon>
                </button>   
                <div class="goBack">
                    <button mat-icon-button (click)="goBack()">
                        <mat-icon>arrow_back_ios</mat-icon>
                      </button>
                </div>
            </mat-toolbar>
        </div-->
        <main>
            <div class="content">
                <router-outlet ></router-outlet>
            </div>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>

