    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation" class="shadow border-0" fixedInViewport>

        <mat-nav-list >     

            <div fxLayoutAlign="end" >
                <button mat-icon-button (click)="sidenav.close()" >
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>    
            <!-- <a mat-list-item routerLink="/" routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon> <span class="nav-caption">Porqué elegir bien?</span>
            </a> -->

            <div class="conteinerLogo" fxLayoutAlign="center center">
                <div class="contenedorImg">
                        <img class="imgLogo">
                </div>
            </div>
            <!--h2 class="nav-caption">Candidatos.pe</h2--> 
            <!--hr/><br-->
            <br>
            <a mat-list-item routerLink="/partidos/." routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon> <span class="nav-caption">Partidos</span>   
            </a>
            <a mat-list-item routerLink="/candidatos/." routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon> <span class="nav-caption">Candidatos</span>   
            </a>
            <!-- <a mat-list-item routerLink="/" routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon> <span class="nav-caption">Indicadores Generales</span>   
            </a> -->
            	
            <!--<hr />-->
            <a mat-list-item  style="align-items: center;" routerLink="/milista/." routerLinkActive='active' (click)="sidenav.close()">
                <mat-icon></mat-icon><span class="nav-caption">Mi lista</span>
            </a>

            <!--<hr />-->
            <div  id="acercade" > 
                <!--<hr />-->
                <!-- <a mat-list-item routerLink="/" routerLinkActive='active' (click)="sidenav.close()">
                    <mat-icon></mat-icon><span class="nav-caption">Acerca de</span>
                </a> -->
                <a mat-list-item  style="align-items: center;" href="https://forms.gle/nyAvUJrKixH5tcyz7" target="_blank" routerLinkActive='active' (click)="sidenav.close()" >
                    <mat-icon></mat-icon><span class="nav-caption"><p>Dejanos tu feedback</p></span>
                </a>
                
                <!--a mat-list-item   fxLayoutAlign="center center" routerLink="/acercade/." routerLinkActive='active' routerLinkActive='active' (click)="sidenav.close()" >
                   <span class="nav-caption" style="font-size:12px">Acerca de nosotros</span>
                </a-->
                <div style="width: 100%;"fxLayoutAlign="center center">
                <button routerLink="/acercade/."  routerLinkActive='active' mat-button  class="btnAcercade" (click)="sidenav.close()" style="font-size:12px"> Acerca de nosotros</button>
                </div>  
                <!--div class="colab">
                    <p>   Acerca de nosotros</p><br>
                </div-->
                <div class="" style="text-align: center; color: white;font-size:12px">
                    <p>
                        Ultima actualización: <br> 26 febrero de 2021
                    </p>
                </div>
            </div>
            
          </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content >
          <app-header (sidenavToggle)="sidenav.toggle()"  class="toolbar"></app-header>
           
            
          <!--
        <div (sidenavToggle)="sidenav.toggle()" >
            <mat-toolbar color="primary"  class="toolbar">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
               <span>¿Qué {{message}} buscas?</span>
                <span class="example-spacer"></span>    
                  <button mat-icon-button >
                    <mat-icon>search</mat-icon>
                </button>   
                <div class="goBack">
                    <button mat-icon-button (click)="goBack()">
                        <mat-icon>arrow_back_ios</mat-icon>
                      </button>
                </div>
            </mat-toolbar>
        </div-->
        <main>
            <div class="content">
                <router-outlet ></router-outlet>
            </div>
            <app-footer></app-footer>
        </main>

        
      </mat-sidenav-content>
    </mat-sidenav-container>

