<div class="title">
  <h1> Informe: Los Objetivos de Desarrollo Sostenible de la Agenda 2030 y los Planes de Gobierno
  </h1>
  <p>Fuente: U. Pacífico - Escuela de Gestión Pública</p> 
</div>

<div class="description">
  <p>Se distingue la mención de las metas y se asigna un puntaje. <br>
    1: Al menos desarrollan una propuesta concreta respecto a qué se piensa hacer o cómo se espera lograr la meta deseada. <br>
    0.5: Sólo indican interés en trabajar en la meta en cuestión. <br>
    0: Si no hay alguna propuesta concreta o deseo de trabajar en ella, aunque se haga alguna alusión a esta última, no se asigna puntaje.
    </p>
</div>
<div class="wrapper">
  <iframe 
  class="responsive-iframe"
  src="https://app.powerbi.com/view?r=eyJrIjoiMzM2OTM4ZmQtNzRlMy00OGYzLTk1ZjItOTcwY2VlNDFiNTkxIiwidCI6ImM5NjYxYzI4LTdkN2QtNDJjMS05OGY5LTQ2MTQ4ZTNhNmIzYiIsImMiOjR9" 
  frameborder="0" 
  allowFullScreen="true">
  </iframe>
</div>
