.scrollA{
  height: 100vh;
  overflow: scroll;
  // background-color:red;
}
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner ::ng-deep .mat-spinner circle {
  stroke: #000000;
}


.wrapper{
  position: relative;
}
.search{
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;

    mat-form-field{
      max-width:300px;
      min-width: 150px;
    }

  input {
    caret-color: rgb(0, 0, 0);
  }
}

.wrapper-candidatos{
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.presidente{
  width: 400px ;
  margin: 20px 5px 40px 5px;
}

@media only screen and (max-width: 400px) {
  .presidente{
    width: 100% ;

  }
}

.nofound{
  color: #2c4484;
  font-size: medium;
  margin: 10px;
}