.scrollA{
  height: 100vh;
  overflow: scroll;
  // background-color:red;
}
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner ::ng-deep .mat-spinner circle {
  stroke: #000000;
}


.wrapper{
  position: relative;
}
.search{
  margin-top: 10px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  .example-form{
    mat-form-field{
      width:350px;

    }
  }
}

.wrapper-candidatos{
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.presidente{
  width: 400px ;
  margin: 20px 5px 40px 5px;
}

@media only screen and (max-width: 400px) {
  .presidente{
    width: 100% ;

  }
}

// @media only screen and (min-width: 1250px) {
//   .presidente{
//     // max-width: 600px ;
//     // min-width: 500px;
//     width: 300px ;

//   }
// }