<mat-progress-bar mode="indeterminate" *ngIf="!presidentes" ></mat-progress-bar>

<div
class="scrollA"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
[scrollWindow]="false"
(scrolled)="onScrollA()"
>
    <div *ngFor="let candidato of presidentes">
        <app-card-candidato [candidato]="candidato" [fromPresidente]="fromPresidente"></app-card-candidato> 
    </div>
    <div class="spinner">
        <mat-spinner *ngIf="showLoader"  diameter=40 ></mat-spinner>
    </div>
</div>
