<!--<div>
  <h1>404</h1>
  <p>Lo sentimos, la página que buscas ha sido removida o no existe</p>
  <a href="/.">Regresar a inicio</a>
</div>-->
<div class="box">
  <div class="box__ghost">
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    
    <div class="box__ghost-container">
      <div class="box__ghost-eyes">
        <div class="box__eye-left"></div>
        <div class="box__eye-right"></div>
      </div>
      <div class="box__ghost-bottom">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="box__ghost-shadow"></div>
  </div>
  
  <div class="box__description">
    <div class="box__description-container">
      <div class="box__description-title">¡Ups!</div>
      <div class="box__description-text">No podemos encontrar la página que buscas</div>
    </div>
    
    <a href="/." class="box__button">Regresar al inicio</a>
    
  </div>
  
</div>
