.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
mat-expansion-panel {
    margin: 0px 15px;
    /*height: auto;*/
    /*min-height: auto;*/
}
mat-expansion-panel-header {
    text-align: justify;
    padding: 10px 40px;
    height: auto !important;
    background-color: #D5E4FF;
}

mat-panel-title {
    text-align: justify;
    max-width: 1100px;
    color: #274482;
    font-weight: 400;
}
.objetivo {
    padding: 0px 20px;
}
.indicador {
    padding: 0px 20px;
}
.meta {
    padding: 0px 20px;
}
.planGobierno{
    margin: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f3f3;
    border-radius: 20px;
}
.planes {
    display: flex;
    padding-left: 15px;
    font-weight: bold;
    font-size: large;
    a {
        color: black;
        text-decoration: none;    
    }   
    button {
        margin-top: 10px;
        margin-right: 10px;
        padding: 3px 10px;
        border-radius: 10px;
        border: 0px;
        //background-color: #3D94FC;
        //color: white;
        color: #FF005C;
        font-size: large;
    }
}
a:hover{
    color: #274482 !important;
    text-decoration: underline !important;
}

.dimension {
    display: flex;
    align-items: center;
    color: #274482;
    font-size: medium;
    font-weight: 500;
    padding: 10px 15px
}
.nofound{
    color: #2c4484;
    margin: 10px;
    text-align: center;
}