<div *ngIf="congresistas">
    <!--div class="filtrado">
        <mat-form-field appearance="fill" class="filterRegion">
            <mat-label>Filtro: Región</mat-label>
            <mat-select [(value)]="unigeoIdSelect" (selectionChange)="onFiltroRegion($event.value)">
                <mat-option *ngFor="let region of REGIONES" [value] = "region.id">
                    {{region.distrito_electoral}}
                </mat-option>    
            </mat-select>
        </mat-form-field>
        
        <div class="container" *ngIf="regSelect == null">
            <mat-icon>people</mat-icon> <span>
                &nbsp; <strong> Candidatos al congreso por LIMA  </strong>        
             </span>
         </div>
         <div class="container" *ngIf="regSelect != null">
            <mat-icon>people</mat-icon> <span>
                &nbsp;  <strong> Candidatos al congreso por {{regSelect}} </strong>
                </span>
         </div>
        
    </div-->
    <div class="wraper-filtrado-search">
        <div class="filtrado"  fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="5px"  *ngIf="!notesText">
            <div fxLayoutAlign="center center">
                <mat-form-field appearance="fill" class="filterRegion">
                    <mat-label>Región</mat-label>
                    <mat-select [(value)]="unigeoIdSelect"  (selectionChange)="onFiltroRegion($event.value)">
                        <mat-option value="sinseleccion1" >SIN SELECCIÓN</mat-option>
                        <mat-option *ngFor="let region of REGIONES" [value] = "region.id">
                            {{region.distrito_electoral}}
                        </mat-option>    
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center center">
                <div class="masfiltros" [hidden]="masFiltros">
                    <mat-form-field  appearance="fill" class="filterEdu">
                        <mat-label>Max. Educación</mat-label>
                        <mat-select [formControl]="selecEdu"(selectionChange)="onFiltroEdu()" multiple>
                            <mat-option value="1">Educación primaria</mat-option>
                            <mat-option value="2">Educación secundaria</mat-option>
                            <mat-option value="3">Estudios técnicos</mat-option>
                            <mat-option value="4">Estudios no universitarios</mat-option>
                            <mat-option value="5">Universitario</mat-option>
                            <mat-option value="6">Post grado</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" class="filterSentencias">
                        <mat-label>Sentencias</mat-label>
                        <mat-select [formControl]="selecSentencias" (selectionChange)="onFiltroSentencias()"multiple>
                            <mat-option value="11">Sin Sentencias</mat-option>
                            <mat-option value="8">Sentencias Civiles</mat-option>
                            <mat-option value="9">Sentencias Penales</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>



            <div fxLayoutAlign="center center"  >
                <button  mat-button  class="btnmasFiltro" (click)="onVerMas()">{{masFiltros ? 'Más' : 'Menos'}} Filtros</button>
            </div>
        </div>
        <!-- (unigeoIdSelect == '' || unigeoIdSelect == 'sinseleccion1' || unigeoIdSelect == '140100') && (orgIdSelect == 'sinseleccion2' || orgIdSelect == '')  -->
        <div fxLayoutAlign="center center" class="search" *ngIf="unigeoIdSelect == '' || 
        (unigeoIdSelect == 'sinseleccion1' || 
        unigeoIdSelect == '140100') &&
        txtselecSentencias == '' && 
        txtselecEdu == '' ">
            <mat-form-field class="busqueda">
                <mat-label>
                    Nombre
                </mat-label>
                <input 
                matInput 
                placeholder="Escriba su nombre"
                type="text" 
                (keyup)="search($event.target.value)"
                >
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
      
    </div>

        
        <div
        class="scroll"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="150"
        [scrollWindow]="false"
        (scrolled)="onScroll()"
        
        >
        <div [ngSwitch]="congresistas.length">
            <div *ngSwitchCase = 0 >
              <div class="container2">
                  
                <span >
                    <strong> Sin Candidatos en la region </strong>        
                </span>
              </div>
        
            </div>
            <div *ngSwitchDefault>
                <div class="wrapper">
                    <div *ngFor="let candidato of congresistas" class="candidato">
                        <app-card-candidato [candidato]="candidato" [fromPartido]="fromPartido"></app-card-candidato> 
                    </div>
                </div>
                <div class="spinner">
                    <mat-spinner *ngIf="showLoader"  diameter=40 ></mat-spinner>
                </div>
            </div>
        </div>
        
     </div>        
</div>

