<div>
  <div class="title">
    <h1>Comparativo de los resúmenes de planes de gobierno descritos en el JNE</h1>
    <p>Valoración de cada acción:  0: No se nombra en la dimension   1: Sólo se nombra, no hay metas  2: Se tiene una meta y es factible  3= tiene meta y es disruptiva la idea.  
      Ponderación o importancia de cada dimensión (1 = Menor Puntaje, 5= Mayor Puntaje)</p>
  </div>
  <div class="wrapper">
  
    <iframe  class="responsive-iframe"
      src="https://app.powerbi.com/view?r=eyJrIjoiNmFkMjU5ODUtYTNmNy00NDExLTkxOGQtMzYwYzFjMDYyYzdiIiwidCI6ImM5NjYxYzI4LTdkN2QtNDJjMS05OGY5LTQ2MTQ4ZTNhNmIzYiIsImMiOjR9"
      frameborder="0" allowFullScreen="true"></iframe>
  </div>
</div>
