<<<<<<< HEAD
/*.mat-tab-labels {
    .mat-tab-label {
        flex-basis: 1 !important;
    }
}
.mat-ripple .mat-tab-label .mat-focus-indicator {
    flex-basis: 1 !important;
}
*/
=======
.wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  

}
h1{
  color: #63AAFF;
  width: 60%;
  text-align: center;

}
p{
  width: 70%;
  text-align: center;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
>>>>>>> 654bd49613ae0b9a405a2cbddfd16cefb3af3487
