<div>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Comparativo de resúmenes">
      <app-comparativo-analisis></app-comparativo-analisis>
    </mat-tab>

    <mat-tab label="ODS en planes de gobierno">
      <app-nivel-propuestas></app-nivel-propuestas>
    </mat-tab>
    
  </mat-tab-group>
</div>


<div>
  <!--
  <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Nivel de propuestas a la agenda 2020">
        <app-nivel-propuestas></app-nivel-propuestas>
      </mat-tab>
      <mat-tab label="Comparativo de resúmenes Análisis">
        <app-comparativo-analisis></app-comparativo-analisis>
      </mat-tab>
  </mat-tab-group>-->
  
  <!--
  <div class="title">
    <h1>Comparativo de los resúmenes de planes de gobierno descritos en el JNE</h1>
    <p>Se revisó cada acción y se aplicó una valoración de 0: No se nombra en la dimensión; 1: Solo se nombra, no hay metas;  2: Se tiene una meta y es factible; 3: Tiene 
      meta y es disruptiva la idea.<br>
      Luego, a cada dimensión se le coloca una ponderación o importancia de cada dimensión (1 = Menor Puntaje, 5 = Mayor Puntaje)</p>
  </div>
  <div class="wrapper">
  
    <iframe  class="responsive-iframe"
      src="https://app.powerbi.com/view?r=eyJrIjoiNmFkMjU5ODUtYTNmNy00NDExLTkxOGQtMzYwYzFjMDYyYzdiIiwidCI6ImM5NjYxYzI4LTdkN2QtNDJjMS05OGY5LTQ2MTQ4ZTNhNmIzYiIsImMiOjR9"
      frameborder="0" allowFullScreen="true"></iframe>
  </div>-->
</div>

