//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// added locally
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

//local
@import '~material-design-icons/iconfont/material-icons.css';


//angular theme
@import '~@angular/material/theming';
@include mat-core(); 

$bv-brand: (
    50: #274482,
    100: #dde6f3,
    200: #b4c9e4,
    300: #7fa3d1,
    400: #6992c9,
    500: #fff,
    600: #4072b4,
    700: #38649d,
    800: #305687,
    900: #284770,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: #274482,
        600: #274482,
        700: #274482,
        800: #274482,
        900: #274482,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: #274482,
    )
);

$bv-orange: (
    50: #ffffff,
    100: #fff7f4,
    200: #fecdbd,
    300: #fc9977,
    400: #fc8259,
    500: #fb6c3b,
    600: #fa551d,
    700: #f44205,
    800: #d63a04,
    900: #b83204,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: #274482,
        600: #274482,
        700: #274482,
        800: #274482,
        900: #274482,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: #274482,
    )
);

// mandatory stuff for theming
$bv-palette-primary: mat-palette($bv-brand);
$bv-palette-accent:  mat-palette($bv-orange);

// include the custom theme components into a theme object
$bv-theme: mat-light-theme($bv-palette-primary, $bv-palette-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


   /* width: 100%;
    padding: 40px 22px;
    background-color: #D5E4FF;*/
/*
 mat-form-field{
        &.mat-form-field-type-mat-select{
            .mat-form-field-flex{
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 2px solid #FF005C;
                border-radius: 18px;
                opacity: 1
        }
            .mat-form-field-underline{
                display: none;
        }
     }
 }
 
 .mat-form-field-label,.mat-select-arrow,.mat-select-value-text{
    color:#0048B1 !important;
}
 */

 .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #3D94FC !important;
  }

  .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #3D94FC !important;
}
mat-drawer-content{
    background-color: #D5E4FF;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

.mat-card-header-text{
    width: 100%;
    padding-left: 25px;
}



//outlined icons


@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v38/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUcel5euIg.woff2) format('woff2');
  }
  
  
  .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #3D94FC;
}

.mat-tab-label-content {
    padding: 3px 20px;
    color: #FF005C;
    color: #63AAFF;
    background-color: white;
    //background-color: #ececec;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #999;
}

.mat-tab-label-active {
    .mat-tab-label-content {
        color: white;
        background-color: #FF005C;
        background-color: #63AAFF;
    }
}
.mat-tab-list {
    background-color: white;
    display: flex;
    justify-content: center;
}
.mat-tab-label {
    opacity:1 !important;
}
.mat-tab-header-pagination {
    //visibility: hidden;
    max-width: 1px;
}
.mat-tab-body-content {
    min-height: calc(95vh - 111px - 276px);
    overflow: auto;
}