
<mat-tab-group (click)="setearTab()" [(selectedIndex)]="tabIndex" mat-stretch-tabs >
    <!--<mat-tab-group (click)="setearTab()" [(selectedIndex)]="tabIndex" [backgroundColor]="'primary'" mat-stretch-tabs >-->
    <mat-tab label="Presidente">
        <app-candidato-presidente ></app-candidato-presidente>
    </mat-tab>
    <mat-tab label="Congresistas">
        <app-candidato-congresista ></app-candidato-congresista>
    </mat-tab>
    <mat-tab label="P. Andino">
        <app-candidato-andino ></app-candidato-andino>
    </mat-tab>  
</mat-tab-group>
