.filtrado{
    margin: 20px;
}
.container{
    color: #2c4484;
    font-size: medium;
}
.container2{
    color: #2c4484;
    font-size: medium;
    margin: 10px;
}


.scroll{
    height: 100vh;
    overflow: scroll;
    // background-color:red;
  }

.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner ::ng-deep .mat-spinner circle {
    stroke: #000000;
}


.filterRegion{
    font-size:12px;;
}

.wrapper{
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .candidato{
        width: 450px ;
      }
  }
  
 
  @media only screen and (max-width: 400px) {
    .candidato{
      max-width: 300px ;
      min-width: 200px;
    }
  }
  
  @media only screen and (min-width: 1250px) {
    .candidato{
      max-width: 600px ;
      min-width: 500px;
    }
  }