
<div class="filtrado">
<mat-form-field appearance="fill">
    <mat-label>Filtro: Región</mat-label>
    <mat-select  (selectionChange)="onFiltroRegion($event.value)">
        <mat-option *ngFor="let region of REGIONES" [value] = "region.id">
            {{region.distrito_electoral}}
        </mat-option>    
    </mat-select>
</mat-form-field>

<div class="container" *ngIf="regSelect == null">
    <mat-icon>people</mat-icon> <span>
         <strong> Candidatos al congreso por LIMA  </strong>        
     </span>
 </div>
 <div class="container" *ngIf="regSelect != null">
    <mat-icon>people</mat-icon> <span>
         <strong> Candidatos al congreso por {{regSelect}} </strong>
        </span>
 </div>

</div>

<div
class="scroll"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
[scrollWindow]="false"
(scrolled)="onScroll()"
>
    <div *ngFor="let candidato of congresistas">
        <app-card [candidato]="candidato"></app-card> 
    </div>
</div>

