<div *ngIf="step == '0'" class="title">
  <!-- <h1>¿Qué temas son importantes para ti?</h1> -->
  <h2>
    Elije minimo 5 temas que mas te agraden 
  </h2>
  <p>
    ...mientras mas elijas mas precisa seran los resultados
  </p>
</div>

<div *ngIf="step == '1'" class="title">
  <div>
    <h1>
      Cuales metas te interesan mas a ti?
    </h1>
  </div>
</div>

<div *ngIf="step != '2'">
  <div class="navigation">
    <div>
      <button mat-raised-button [disabled]="step == '0'"
      (click)="backQuestions()" [ngClass]="{'disabled': step == '0' }">Atras</button>
    </div>
    <div>
      <button mat-raised-button [disabled]="minToStart < 5" 
       (click)="nextQuestions()" [ngClass]="{'disabled': minToStart < 5 }">Continuar</button>
      
       <!-- <button mat-raised-button [disabled]="disabledButtonQ" 
       *ngIf="step == '1'"
       (click)="nextQuestions()">Continuar 1</button> -->
    </div>
  </div>
</div>


<div class="wrapper_ods_list" *ngIf="step == '0'">
  <div *ngFor="let od of ods" class="wrapper_button">
    <button (click)="selectOds(od.id)" [ngClass]="{'selected': od.selected == true }"
    class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color"
     mat-button
     >
      <img src="{{od.image}}" alt="">
    </button>

  </div>
</div>

<div *ngIf="step == '1'" class="wrapper_questions">
  <div  *ngIf="isLastQuestion && minToFinish == false">
    Parece que no marcarte ningun opcion, 
    Marca una opcion porfis 
    <!-- {{this.minToFinish}} -->
  </div>
  <div>
    <div *ngFor="let od of selectedOds" >
        <div *ngIf="od.show == true">
          <h2>{{od.name}}</h2>
          <div *ngFor="let meta of od.metas" class="checkbox_wrapper">
            <mat-checkbox 
            class="checkbox" 
            [(ngModel)]="meta.selected">
            <p class="checkbox-text">
              {{meta.name}}
            </p>
              </mat-checkbox>
          </div>
          <!-- (change)="setAll($event.checked,od.metas)"  -->
        </div>
    </div>
  </div>
</div>

<div *ngIf="step == '2'" class="wrapper_results">
  <div>
    <h1 class="title">Resultados</h1>
  </div>
  <div class="results">
    <div *ngFor="let result of results" class="result">
        <div class="wrapper-bars">
          <div class="images">
            <div class="wrapper_imgPartido">
              <img src="{{result.imgPartido}}" alt="">
            </div>
            <div class="wrapper_imgCandidato">
              <img src="{{result.imgCandidato}}" alt="">
            </div>
          </div>
          <div class="bar_value">          
            <div class="bar" [ngStyle]="{ width: widthScreen > 500 ?  result.value * 100/numberQA * 6  + 'px' : result.value * 100/numberQA * 2  + 'px'}"></div>
            <div class="value">{{(result.value * 100/numberQA).toFixed(2)}} %</div>
          </div>
        </div>
        <div class="actions">
          <!-- Mas sobre el partido -->
          <!-- <button mat-raised-button>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button> -->
          <a mat-icon-button color="warn" href="/partido/{{result.idDb}}/">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </a>
        </div>
    </div>
  </div>
</div>

<div class="newTest" *ngIf="step == '2'">
  <div>
    <button mat-raised-button 
    (click)="startAgain()" >Nuevo test</button>
  </div>
</div>

<div class="fuentes" *ngIf="step == '2'">
  <div class="logos">
    <div class="un">
      <img src="https://www.unicef.org/peru/sites/unicef.org.peru/files/2019-12/Logo%20Naciones%20Unidas.jpg" alt="">
    </div>
    <div class="up">
      <img src="https://www.up.edu.pe/UP_Landing/dia-de-la-gestion-publica/img/logo_up.png" alt="">
    </div>
  </div>
  <div class="url_pdf">
    <h3> Fuente:
      <a target="_blank" href="http://sisisemail.up.edu.pe/sisisemail/docs/2021/157/Los-Objetivos-de-Desarrollo-Sostenible-de-la-Agenda-2030-y-los-Planes-de-Gobierno.pdf" >    
        Los Objetivos de
        Desarrollo Sostenible de la Agenda
        2030 y los Planes de Gobierno</a> 
    </h3>
  </div>
</div>
