<div *ngIf="step == '0'" class="titles">
  <!-- <h1>¿Qué temas son importantes para ti?</h1> -->
  <h1>
    Objetivos de desarrollo sostenible de la agenda 2030 vs planes de gobierno
  </h1>
  <p>
    Elige  5 ó más Objetivos que consideres necesarios para ver si se incluyen en los planes de gobierno.
  </p>
</div>

<div *ngIf="step == '1'" class="titles">
  <div>
    <h1>
      Objetivos de desarrollo sostenible de la agenda 2030 vs planes de gobierno
    </h1>
    <p>
      Selecciona las metas que consideres más relevantes
    </p>
  </div>
</div>




<div class="wrapper_ods_list" *ngIf="step == '0'">
  <div *ngFor="let od of ods" class="wrapper_button">
    <button (click)="selectOds(od.id)" [ngClass]="{'selected': od.selected == true }"
     class=" mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color"
     mat-button
     >
      <img src="{{od.image}}" alt="">
    </button>

  </div>
</div>

<div *ngIf="step == '1'" class="wrapper_questions">
  <div  *ngIf="isLastQuestion && minToFinish == false">
    <p>
      Ups, Parece que no marcaste ninguna opción.
      Selecciona las metas por fis ;)
    </p>
  </div>
  <div>
    <div *ngFor="let od of selectedOds" >
        <div *ngIf="od.show == true">
          <h3>{{od.name}}</h3>
          <div *ngFor="let meta of od.metas" class="checkbox_wrapper">
            <mat-checkbox 
            class="checkbox" 
            [(ngModel)]="meta.selected">
            <p class="checkbox-text">
              {{meta.name}}
            </p>
              </mat-checkbox>
          </div>
          <!-- (change)="setAll($event.checked,od.metas)"  -->
        </div>
    </div>
  </div>
</div>

<div *ngIf="step == '2'" class="wrapper_results">
  <div class="titles">
    <h1 class="title">
      Objetivos de desarrollo sostenible de la agenda 2030 vs planes de gobierno
    </h1>
    <!-- <p>
      Las metas seleccionadas tienen esta prioridad en los planes de gobierno
    </p> -->
    <p>
      Partidos con más metas vinculadas a los objetivos de desarrollo sostenible.
    </p>
    <p class="revisa">
      Infórmate de los candidatos y las acciones que van a realizar por cada meta.
    </p>
  </div>
  <div class="results">
    <div *ngFor="let result of results; let i = index" class="wrapper_result">
        <!-- <div *ngIf="i == 0" class="wp_tupartido">
          <span class="tupartido">
            Partido con el que tus metas se alinean más
          </span>
        </div>
        <div *ngIf="i == 1" class="wp_demaspartidos">
          <span class="demaspartidos">
            Demás partidos
          </span>
        </div> -->
        <div class="result">
          <div class="wrapper-bars" >
            <div class="image_bar_value">
              <div class="images">
                <a class="wrapper_imgPartido" href="/partido/{{result.idDb}}/" target="_blank">
                  <img src="{{result.imgPartido}}" alt="">
                </a>
                <a class="wrapper_imgCandidato" href="/candidato/{{result.idCandidato}}/" target="_blank">
                  <img src="{{result.imgCandidato}}" alt="">
                </a>
              </div>
              <div class="bar_value"> 
                <!-- background-color: #3D94FC; -->
                <div class="bar" 
                [ngStyle]="{ 'width': widthScreen > 500 ?  result.value * 100/numberQA * 6  + 'px' : result.value * 100/numberQA * 2  + 'px',
                             'background-color': (result.value * 100/numberQA )  > 50 ?  '#3D94FC' : '#FF005C' }"></div>
                <div class="value">{{(result.value * 100/numberQA).toFixed(0)}} %</div>
              </div>
            </div>
            <!-- <div>
              <a mat-icon-button color="warn" href="/candidato/{{result.idCandidato}}/" target="_blank">
                <mat-icon>picture_as_pdf</mat-icon>
              </a>
            </div> -->
          </div>
          <div class="actions">
            <a mat-icon-button color="warn" href="https://declara.jne.gob.pe/ASSETS/PLANGOBIERNO/FILEPLANGOBIERNO/{{result.idPlanGobierno}}.pdf" target="_blank">
              <mat-icon>picture_as_pdf</mat-icon>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>

<div *ngIf="step != '2'">
  <div class="navigation">
    <div>
      <button mat-raised-button [disabled]="step == '0'"
      (click)="backQuestions()" [ngClass]="{'disabled': step == '0' }">Anterior</button>
    </div>
    <div>
      <button mat-raised-button [disabled]="minToStart < 5" 
       (click)="nextQuestions()" [ngClass]="{'disabled': minToStart < 5 }">Siguiente</button>
      
       <!-- <button mat-raised-button [disabled]="disabledButtonQ" 
       *ngIf="step == '1'"
       (click)="nextQuestions()">Continuar 1</button> -->
    </div>
  </div>
</div>



<div class="fuentes" *ngIf="step == '2'">
  <div class="url_pdf">
    <h4> Fuente:
      <a target="_blank" href="http://sisisemail.up.edu.pe/sisisemail/docs/2021/157/Los-Objetivos-de-Desarrollo-Sostenible-de-la-Agenda-2030-y-los-Planes-de-Gobierno.pdf" >    
        Los Objetivos de
        Desarrollo Sostenible de la Agenda
        2030 y los Planes de Gobierno</a> 
      </h4>
  </div>
  <div class="newTest" *ngIf="step == '2'">
    <div>
      <button mat-raised-button class="button_newTest"
      (click)="startAgain()" >
      <span class="material-icons"> keyboard_return</span>
     Reiniciar
    </button>
    </div>
  </div>
  <div class="logos">
    <div class="un">
      <img src="https://www.unicef.org/peru/sites/unicef.org.peru/files/2019-12/Logo%20Naciones%20Unidas.jpg" alt="">
    </div>
    <div class="up">
      <img src="https://www.up.edu.pe/UP_Landing/dia-de-la-gestion-publica/img/logo_up.png" alt="">
    </div>
  </div>
</div>

