.goBack{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    width:30vh;
  }
}
.goBack-higher {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  //position: relative;
  //top: 35px;
  //z-index: 100;
}

.navigator{
  margin-top: -20px;

}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner ::ng-deep .mat-spinner circle {
  stroke: #4456df;
}