<div *ngIf="candidato">
  <div >
    <app-card-candidato [candidato]="candidato" [fromDetalle]="fromDetalle"></app-card-candidato> 
  </div>
  <mat-tab-group mat-stretch-tabs class="navigator">
  <!--<mat-tab-group [backgroundColor]="'primary'" mat-stretch-tabs class="navigator">-->
    <mat-tab label="Historia">
        <app-candidato-historia [candidato]="candidato"></app-candidato-historia>
    </mat-tab>
    <!-- <mat-tab label="Propuestas">
    </mat-tab>
    <mat-tab label="Equipo">
    </mat-tab>   -->
    
    <mat-tab label="Plan de Gobierno" *ngIf="candidato.cargo_id==1">
      <app-candidato-plan-gobierno [candidato]="candidato"></app-candidato-plan-gobierno>
    </mat-tab>
    <mat-tab label="Plan de Parlamento" *ngIf="candidato.cargo_id==5">
      <app-candidato-plan-gobierno [candidato]="candidato"></app-candidato-plan-gobierno>
    </mat-tab>
    <mat-tab label="Medios">
      <app-candidato-medios [candidato]="candidato"></app-candidato-medios>
    </mat-tab>
  </mat-tab-group>
  <div class="goBack">
    <button (click)="goBack()" mat-raised-button color="primary">Volver</button>
  </div>
</div>

<div class="spinner">
  <mat-spinner *ngIf="showLoader"  diameter=100></mat-spinner>
</div>
