.goBack{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    width:30vh;
  }
}

.navigator{
  margin-top: -20px;

}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner ::ng-deep .mat-spinner circle {
  stroke: #4456df;
}