<div>
  <div *ngIf="candidato">
    <app-card-candidato [candidato]="candidato" [fromDetalle]="fromDetalle"></app-card-candidato> 
  </div>
      <mat-tab-group [backgroundColor]="'primary'" mat-stretch-tabs>
        <mat-tab label="Historia">
            <app-candidato-historia [candidato]="candidato"></app-candidato-historia>
        </mat-tab>
        <!-- <mat-tab label="Propuestas">
        </mat-tab>
        <mat-tab label="Equipo">
        </mat-tab>  
        <mat-tab label="Medios">
        </mat-tab>   -->
      </mat-tab-group>
  <div class="goBack">
    <button (click)="goBack()" mat-raised-button color="primary">Volver</button>
  </div>
</div>
