a,span,div{
    font: normal normal medium 19px/23px Montserrat;
}

.filtrado {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .share{

        button{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

a{
    text-decoration: none ;
}
@media only screen and (max-width: 480px) {
    .mat-form-field {
    font-size:10px;
    }
}

.scrollA{
    height: 100vh;
    overflow: scroll;
}

.listado{
    .card-politico{
        margin-bottom: 20px;
        position: relative;
        border-radius: 20px;
        box-shadow: 2px 2px 5px #999;
        .mat-card-header{
            img{
                width: 70px;
                height: 70px;
                border-radius: 10px;
            }
        }
        .mat-card-content{
            min-height: 140px;
        }
        .mat-card-actions{
            position: absolute;
            bottom:17px;
            left: 0;
            width: 100%;

            font-size: 12px;
            display: flex;
            flex-direction: column;
            .line{
                width: 90%;
            }
            .texto{
                display: flex;
                align-items: center;
            }
            
        }
    }
    hr{
        border: 1px solid #E5E5E5;
    }
}



.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner ::ng-deep .mat-spinner circle {
    stroke: #4456df;
  }

.colorSentencias{
    color: #132158;
    font-size: 15px;
}
.colorAcademico{
    color: #132158;
    font-size: 15px;
}

.colorPolitico{
    color: #132158;
    font-size: 15px;
}

.fondoSentencias{
    color: #DF2854;
}

.fondoAcademico{
    //color: #1CBAD9;
    color: #ffae1d75;
}

.fondoPolitico{
    //color: #DBA837;
    color: #ffae1d75;
}
mat-card-actions{
    padding-top: 0;
}
.vacancia{
    //background-color: #FFE7ED;
    text-align: center;
    color: red;
}

.CantCandidatos{
    //background-color: #FFE7ED;
    text-align: center;
    color: #132158ba;
    //color: #132158;
}
.porcentaje{

    font-size:12px ;
}
.vacanciaTitle{
    font-size:15px ;

}
.afavor{
    color: red;
}

.noinfo{
    background-color: #C4C4C4;
    text-align: center;
    color: black;
}



.wrapper{
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .card-politico{
    width: 450px ;
  }

  .indicador{
    font-size:12px;
    color:#515151;
    display: flex;
    align-items: center;

    margin-bottom: 10px;

}
.titulo{
    color: #132158;
}
.titulo.funda {
    color: #132158ba;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    height: 35px;
    width: 200px;
    //color: #ffffff;
    color: #63AAFF;
    border-color: none;
    //background-color: #3D94FC;
    border-radius: 30px;
    //border: 0px;
    border: #63AAFF 2px;
    border-style: solid;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: normal;
  }
  .boton_personalizado:hover{
    color: #DF2854;
    border-color: #DF2854;
    //background-color: #FF005C;
  }

  
  @media only screen and (max-width: 425px) {
    .card-politico{
      max-width: 300px ;
      min-width: 200px;
    }
    .boton_personalizado{
        height: 24px;
    }
  }
  
  @media only screen and (min-width: 1250px) {
    .card-politico{
      max-width: 600px ;
      min-width: 500px;
    }
    .boton_personalizado{
        height: 35px;
    }
  }