.filtrado {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .filter{

    }
    .share{

        button{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

a{
    text-decoration: none ;
}
@media only screen and (max-width: 480px) {
    .mat-form-field {
    font-size:10px;
    }
}


.listado{
    .card-politico{
        margin-bottom: 20px;
        position: relative;
        .mat-card-header{
            img{
                width: 100%;
                height: 100%;
            }
        }
        .mat-card-content{
            min-height: 150px;
        }
        .mat-card-actions{
            position: absolute;
            bottom:10px;
            left: 0;
            width: 100%;

            font-size: 12px;
            display: flex;
            flex-direction: column;
            .line{
                width: 90%;
            }
            .texto{
                display: flex;
                align-items: center;
            }
            
        }
    }
    hr{
        border: 1px solid #E5E5E5;
    }
}



.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorSentencias{
    color: #DF2854;
    font-size: 15px;
}
.colorAcademico{
    color: #1CBAD9;
    font-size: 15px;
}

.colorPolitico{
    color: #DBA837;
    font-size: 15px;
}

.fondoSentencias{
    color: #DF2854;
}

.fondoAcademico{
    color: #1CBAD9;
}

.fondoPolitico{
    color: #DBA837;
}
mat-card-actions{
    padding-top: 0;
}
.vacancia{
    background-color: #FFE7ED;
    text-align: center;
    color: black;
}
.porcentaje{

    font-size:12px ;
}
.vacanciaTitle{
    font-size:15px ;

}
.afavor{
    color: red;
}

.noinfo{
    background-color: #C4C4C4;
    text-align: center;
    color: black;
}



.wrapper{
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .card-politico{
    width: 450px ;
  }

  .indicador{
    font-size:12px;
    color:#515151;
    display: flex;
    align-items: center;

    margin-bottom: 10px;

}
  
  @media only screen and (max-width: 400px) {
    .card-politico{
      max-width: 300px ;
      min-width: 200px;
    }
  }
  
  @media only screen and (min-width: 1250px) {
    .card-politico{
      max-width: 600px ;
      min-width: 500px;
    }
  }