<div class="filtrado">
    <mat-form-field appearance="fill">
        <mat-label>Ordenado por</mat-label>
        <mat-select (selectionChange)="onOrdernar($event.value)">
            <mat-option value="nombre">Nombre</mat-option>
            <mat-option value="fundacion_fecha">Antiguedad</mat-option>
            <mat-option value="indicadorCantidadSentencias">Numero de Sentencias</mat-option>
            
        </mat-select>
    </mat-form-field>
    <span class="example-spacer"></span>
    <button mat-icon-button>
        <mat-icon>share</mat-icon>
    </button>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="partidos.length==0" ></mat-progress-bar>
<div class="listado">

    <!-- <app-partido-andino></app-partido-andino>
 -->


    <mat-card *ngFor="let partido of partidos" class="card-politico">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><img src="{{partido.ruta_archivo}}" />
            </div>
            <mat-card-title mat-button routerLink="/partido/{{partido.id}}" [state]="partido" >
                {{partido.nombre}}
            </mat-card-title>
            <mat-card-subtitle>Fundación {{partido.fundacion_fecha | date: 'd MMM y'}}{{" - "}} {{fnAnios(partido.fundacion_fecha) }} años </mat-card-subtitle>
            <mat-card-subtitle>
                <!--congreso actual ID 4 -->
                <p>
                    <span *ngFor="let indicador of fnIndicadores(partido,4); let i = index">
                        <span *ngIf="i==0"></span> {{indicador.cantidad + "% de " + indicador.indicador_categoria_nombre}}
                    </span>
                </p>

                <!--vizcarra ID 6 -->
                <p>
                <span *ngFor="let indicador of fnIndicadores(partido,6); let i = index">
                    <span *ngIf="i==0"> </span> {{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }}
                </span>
                </p>
                

            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="container" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between stretch">                
                <div>
                <!--Sentencias y procesos, ID 3 -->                
                <span *ngFor="let indicador of fnIndicadores(partido,3); let i = index">
                    <p>
                    <span *ngIf="i==0"> </span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}}
                    </p>    
                </span>
                </div>  
                
                <div>
                 <!--Estudios ID 1 -->                
                <span *ngFor="let indicador of fnIndicadores(partido,1); let i = index">
                    <p>
                    <span *ngIf="i==0"></span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}}   
                     </p>
                </span>
                </div>

                <div>
                <!--trayectoria ID 2 -->
                <span *ngFor="let indicador of fnIndicadores(partido,5); let i = index">
                    <p>
                    <span *ngIf="i==0"> </span> {{indicador.cantidad + " " + indicador.indicador_categoria_nombre}}
                    </p>
                </span>             
            </div>
        </mat-card-content>
        <hr>
        <mat-card-actions>


            <button routerLink="/partido/{{partido.id}}" [state]="partido" mat-button>
                <mat-icon>description</mat-icon> <span> Ver más</span>             
            </button>
            
            <!--
            <button mat-icon-button>
                <mat-icon>thumb_down_alt</mat-icon>                
            </button>
            <button mat-icon-button>
                <mat-icon>thumb_up_alt</mat-icon>                
            </button>
            <div class="texto">Me representa</div>            
            <span class="example-spacer"></span>
            <button mat-icon-button>
                <mat-icon>share</mat-icon>
            </button>

            -->
            

            
        </mat-card-actions>
    </mat-card>
</div>
<br>