 <div *ngIf="partidos">


 <div class="filtrado">
        <mat-form-field appearance="fill" class="filter">
            <mat-label>Ordenado por</mat-label>
            <mat-select (selectionChange)="onOrdernar($event.value)">
                <mat-option value="nombre">Nombre</mat-option>
                <mat-option value="fundacion_fecha">Antiguedad</mat-option>
                <mat-option value="indicadorCantidadSentencias">Numero de Sentencias</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="share">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>share</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <a href="https://www.facebook.com/sharer.php?u=https://candidatosdev.web.app/#/partidos"  target="_blank" >
                    <span class="material-icons">
                        facebook
                    </span>
                    <span>
                        Facebook
                    </span>
                </a>
              </button>
              <button mat-menu-item>
                <a href="https://twitter.com/intent/tweet?url=https://candidatosdev.web.app&text=Conoce a tus candidatos en estas elecciones &hashtags=candidatos2021"  target="_blank" >
                    <span class="material-icons">
                        public
                    </span>
                    <span>
                        Twitter
                    </span>
                </a>
              </button>
            </mat-menu>
        </div>        
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="partidos.length==0" ></mat-progress-bar>
    <!-- <cdk-virtual-scroll-viewport 
    class="listado" 
    itemSize="50" > -->
    <div 
    class="listado"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"

    (scrolled)="onScroll()"
    >
        
        <div class="wrapper">
            <mat-card *ngFor="let partido of partidos" class="card-politico">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="{{partido.ruta_archivo}}" />
                    </div>
                    <mat-card-title mat-button routerLink="/partido/{{partido.id}}" [state]="partido" >
                        {{partido.nombre}}
                    </mat-card-title>
                    <mat-card-subtitle>Fundación {{partido.fundacion_fecha | date: 'd MMM y'}}{{" - "}} {{fnAnios(partido.fundacion_fecha) }} años 
    
                    </mat-card-subtitle>
                </mat-card-header>
                <div class="vacancia" *ngIf="getCantIndicador(partido,6)!=0">
                    <label class="vacanciaTitle"> Votos de Vacancia Presidencial: </label>
                         <p>
                        <strong>
                        <span *ngFor="let indicador of fnIndicadores(partido,6); let i = index">
                            <span *ngIf="i==0"  >  <span class="afavor"> {{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }}</span> | </span>
                            <span *ngIf="i==1"> {{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }} | </span>
                            <span *ngIf="i==2 "> {{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }}</span>
                            
                        </span>
                        </strong>
                        <br>
                            
                        <span  class="porcentaje" *ngFor="let indicador of fnIndicadores(partido,4); let i = index">
                            <span *ngIf="i==0"></span> {{indicador.cantidad + "% de " + indicador.indicador_categoria_nombre}}
                        </span>
                        </p>
                </div>
                <!--            
                    <div class="noinfo" *ngIf="getCantIndicador(partido,6)==0">
                    <label class="vacanciaTitle"> No tuvo participacion en el congreso actual </label>
    
                </div>
    
                -->
    
                <mat-card-content class="container" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-around stretch">                
                        <div >
    
                            <div class="indicador">
                                <mat-icon class="fondoSentencias"  aria-hidden="true">
                                    gavel
                                </mat-icon>
                                <label class="colorSentencias"> {{getCantIndicador(partido,8)+getCantIndicador(partido,9)}} Con Sentencias</label>
                            </div>
    
                            <div class="indicador">
                                <mat-icon   class="fondoSentencias" aria-hidden="true">
                                    school
                                </mat-icon>
                                <label class="colorSentencias"> {{getCantIndicador(partido,1)- getCantidadEdSuperior(partido)}} Ed.Basica</label>
                            </div>
                    
                            <div class="indicador">
                                <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                    account_balance
                                </mat-icon>
                                <label class="colorPolitico"> {{getCantIndicador(partido,5)}} En Cargos Anteriores</label>
                                
                            </div>
                            <!--
                            <div>
                                <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                    account_balance
                                </mat-icon>
                                <label class="colorPolitico"> X% Nuevos en politica</label>
                                
                            </div>
                            -->
                        </div>
    
                        <div>
                            <!--
                            <div >
                                <mat-icon   class="fondoSentencias" aria-hidden="true">
                                    school
                                </mat-icon>
                                <label class="colorSentencias"> - sin licencia Sunedu</label>
                            </div>       
                             -->   
                            <div class="indicador">
                                <mat-icon   class="fondoAcademico" aria-hidden="true">
                                    school
                                </mat-icon>
                                <label class="colorAcademico"> {{getCantidadEdSuperior(partido)}} Ed. Superior</label>
                            </div>
    
                            <div  class="indicador">
                                <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                    account_balance
                                </mat-icon>
                                <label class="colorPolitico"> {{getCantIndicador(partido,11)}} De otros partidos</label>  
                            </div>
                            <!--
                            <div >
                                <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                    attach_money
                                </mat-icon>
                                <label class="colorPolitico"> S/. - Ingresos Promedio</label>  
                            </div>
                            -->
    
    
                        </div>
                    <!-- CON TABLAS SE VE MEJOR EN MOVIL
                    <table>
                          <tr>
                            <td> 
                            <div>
                                <mat-icon class="fondoSentencias"  aria-hidden="true">
                                    gavel
                                </mat-icon>
                                <label class="colorSentencias"> {{getCantIndicador(partido,8)+getCantIndicador(partido,9)}} Con Sentencias</label>
                            </div>
                          </td>
                            <td>
                             <div >
                                <mat-icon   class="fondoSentencias" aria-hidden="true">
                                    school
                                </mat-icon>
                                <label class="colorSentencias"> - sin licencia Sunedu</label>
                            </div>
                        </td>
                          </tr>
                          <tr>
                            <td>                           
                                <div >
                                    <mat-icon   class="fondoSentencias" aria-hidden="true">
                                        school
                                    </mat-icon>
                                    <label class="colorSentencias"> {{ getCantIndicador(partido,1)- getCantidadEdSuperior(partido)}} Ed.Basica</label>
                                </div>
                            </td>
                            <td>                            
                                <div>
                                    <mat-icon   class="fondoAcademico" aria-hidden="true">
                                        school
                                    </mat-icon>
                                    <label class="colorAcademico"> {{getCantidadEdSuperior(partido)}} Ed. Superior</label>
                                </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <div>
                                    <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                        account_balance
                                    </mat-icon>
                                    <label class="colorPolitico"> X% Nuevos en politica</label>
                                    
                                </div>
                            </td>
                            <td>
                                <div >
                                    <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                        attach_money
                                    </mat-icon>
                                    <label class="colorPolitico"> S/. - Ingresos Promedio</label>  
                                </div>
                            </td>
                          </tr>
    
                    </table>
                    -->
                </mat-card-content>
                <mat-card-actions>
                    <hr class="line">
                    <button style="color: #65676B;" routerLink="/partido/{{partido.id}}" [state]="partido" mat-button>
                        <mat-icon class="material-icons material-icons-outlined">description</mat-icon> <span> Ver más</span>             
                    </button>
                    
                </mat-card-actions> 
            </mat-card>
        </div>


    </div>

    <br>

    <div class="spinner">
        <mat-spinner *ngIf="showLoader"  diameter=40></mat-spinner>
    </div>

</div>