 <div *ngIf="partidos">
    <div class="filtrado" fxLayoutAlign="center center">
        <mat-form-field appearance="fill" class="filter">
            <mat-label>Ordenado por</mat-label>
            <mat-select (selectionChange)="onOrdernar($event.value)">
                <mat-option value="nombre">Nombre A-Z</mat-option>
                <mat-option value="-nombre">Nombre Z-A</mat-option>
                <mat-option value="fundacion_fecha">Mayor a Menor Antigüedad</mat-option>
                <mat-option value="-fundacion_fecha">Menor a Mayor Antigüedad</mat-option>
                <mat-option value="-sentencias">Más a Menos Sentencias</mat-option>
                <mat-option value="sentencias">Menos a Más Sentencias</mat-option>
            </mat-select>
        </mat-form-field>      
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="partidos.length==0" ></mat-progress-bar>
    <div 
    class="listado scrollA"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScrollA()"
    [scrollWindow]="false"
    >
        
        <div class="wrapper">
            <mat-card *ngFor="let partido of partidos" class="card-politico">
                <mat-card-header>
                    <div mat-card-avatar class="imgPartido"><img src="{{partido.ruta_archivo}}" />
                    </div>
                    <mat-card-title class="titulo" mat-button routerLink="/partido/{{partido.id}}/." [state]="partido" >
                        {{partido.nombre}} 
                        <span *ngIf="partido.jne_idorganizacionpolitica == 22 ">ex-Solidaridad</span>
                        <span *ngIf="partido.jne_idorganizacionpolitica == 21 ">ex-Restauracion </span>

                    </mat-card-title>
                    <mat-card-subtitle class="titulo funda">Fundación {{partido.fundacion_fecha | date: 'd MMM y'}}{{" - "}} {{fnAnios(partido.fundacion_fecha) }} años 
    
                    </mat-card-subtitle>
                </mat-card-header>
                <div class="CantCandidatos" *ngIf="getCantIndicador(partido,3)!=0">
                         <p>

                        <span *ngFor="let indicador of fnIndicadores(partido,3); let i = index">
                            <span *ngIf="i==0"  >{{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }}, </span>
                            <span *ngIf="i==1">{{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }}</span>
                            <span *ngIf="i==2 ">, {{indicador.indicador_categoria_nombre+ " " + indicador.cantidad }}</span>
                            
                        </span>
                        <br>
                </div>

               
                <!--            
                    <div class="noinfo" *ngIf="getCantIndicador(partido,6)==0">
                    <label class="vacanciaTitle"> No tuvo participacion en el congreso actual </label>
    
                </div>
    
                -->
    
                <mat-card-content class="container" >                
                    <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-around stretch">    
                        <!--
                        <div>
                            <div class="indicador">
                                <mat-icon class="fondoSentencias"  aria-hidden="true">
                                    gavel
                                </mat-icon>
                                <label class="colorSentencias">&nbsp;{{getCantIndicador(partido,8)+getCantIndicador(partido,9)}} Sentencias</label>
                            </div>
    
                            <div class="indicador">
                                <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                    work
                                </mat-icon>
                                <label class="colorPolitico">&nbsp;{{getCantIndicador(partido,5)}} En Cargos Anteriores</label>
                                
                            </div>
                            <div  class="indicador">
                                <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                    account_balance
                                </mat-icon>
                                <label class="colorPolitico">&nbsp;{{getCantIndicador(partido,11)}} De otros partidos</label>  
                            </div>

                        </div>
    
                        <div>
 
                             <div class="indicador">
                                <mat-icon   class="fondoPolitico" aria-hidden="true">
                                    school
                                </mat-icon>
                                <label class="colorSentencias">&nbsp;{{getCantIndicador(partido,1)- getCantidadEdSuperior(partido)}} Ed.Básica</label>
                            </div>
                            <div class="indicador">
                                <mat-icon   class="fondoAcademico" aria-hidden="true">
                                    school
                                </mat-icon>
                                <label class="colorAcademico">&nbsp;{{getCantidadEdSuperior(partido)}} Ed. Superior</label>
                            </div>
              
                            <div class="indicador" >
                                <span class="material-icons fondoAcademico" >payment</span>
                                <label class="colorPolitico">&nbsp;{{getCantidadIngresoProm(partido)|currency:'S/.':'symbol':'4.0-0'}} Ingreso P. Anual</label> 
                                <span
                                    mat-raised-button
                                    matTooltip="Es el promedio de los ingresos anuales de todos los candidatos del partido politico">
                                     <mat-icon class="tooltip">priority_high</mat-icon>
                                </span> 
                            </div>                
    
                        </div> 
                            -->
                            <table >
                                <tbody>
                                  <tr>
                                    <td>                            
                                        <div class="indicador">
                                            <mat-icon class="fondoSentencias"  aria-hidden="true">
                                                gavel
                                            </mat-icon>
                                            <label class="colorAcademico">&nbsp;{{getCantIndicador(partido,8)+getCantIndicador(partido,9)}}</label>
                                            <label class="colorSentencias">&nbsp;Sentencias</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="indicador">
                                            <mat-icon   class="fondoPolitico" aria-hidden="true">
                                                school
                                            </mat-icon>
                                            <label class="colorAcademico">&nbsp;{{getCantIndicador(partido,1)- getCantidadEdSuperior(partido)}}</label>
                                            <label class="colorSentencias">&nbsp;Ed.Básica</label>
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        <div class="indicador">
                                            <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                                work
                                            </mat-icon>
                                            <label class="colorAcademico">&nbsp;{{getCantIndicador(partido,5)}}</label>
                                            <label class="colorPolitico" >&nbsp;En Cargos Anteriores</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="indicador">
                                            <mat-icon   class="fondoAcademico" aria-hidden="true">
                                                school
                                            </mat-icon>
                                            <label class="colorAcademico">&nbsp;{{getCantidadEdSuperior(partido)}}</label>
                                            <label class="colorPolitico">&nbsp;Ed. Superior</label>
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        <div  class="indicador">
                                            <mat-icon  role="img" class="fondoPolitico" aria-hidden="true">
                                                account_balance
                                            </mat-icon>
                                            <label class="colorAcademico">&nbsp;{{getCantIndicador(partido,11)}}</label>
                                            <label class="colorPolitico">&nbsp;De otros partidos</label>  
                                        </div>
                                    </td>
                                    <td>
                                        <div class="indicador" >
                                            <span class="material-icons fondoAcademico" >payment</span>
                                            <label class="colorPolitico">&nbsp;{{getCantidadIngresoProm(partido)|currency:'S/.':'symbol':'4.0-0'}} Ingreso P. Anual</label> 
                                            <span
                                                mat-raised-button
                                                matTooltip="Es el promedio de los ingresos anuales de todos los candidatos del partido politico">
                                                 <mat-icon class="tooltip">priority_high</mat-icon>
                                            </span> 
                                        </div> 
                                    </td>
                                  </tr>
                                </tbody>
                              </table>


                    </div>   
                        <div class="vacancia" *ngIf="getCantIndicador(partido,6)!=0">
                            <p>
                        <span  class="porcentaje" *ngFor="let indicador of fnIndicadores(partido,4); let i = index">
                            <span *ngIf="i==0"></span> {{indicador.cantidad }} Representantes en el congreso actual
                        </span>
                        </p> 
                         </div>

                </mat-card-content>
                
                <mat-card-actions fxLayout="column"  fxLayoutAlign="center center" >
                    <!--hr class="line"-->
                    <button  class="boton_personalizado" routerLink="/partido/{{partido.id}}/." [state]="partido" mat-button>
                     <span> Ver más</span>             
                    </button>
                    
                </mat-card-actions> 
            </mat-card>
        </div>


    </div>

    <br>

    <div class="spinner">
        <mat-spinner *ngIf="showLoader"  diameter=40></mat-spinner>
    </div>

</div>