.filtrado {
    width: 100%;
    display: flex;
}

.listado{
    .card-politico{
        margin-bottom: 20px;
        .mat-card-header{
            img{
                width: 100%;
                height: 100%;
            }
        }
        .mat-card-actions{
            font-size: 12px;
            display: flex;
            .texto{
                display: flex;
                align-items: center;
            }
        }
    }
    hr{
        border: 1px solid #E5E5E5;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorSentencias{
    color: #DF2854;
    font-size: 15px;
}
.colorAcademico{
    color: #1CBAD9;
    font-size: 15px;
}

.colorPolitico{
    color: #DBA837;
    font-size: 15px;
}

.fondoSentencias{
    color: #DF2854;
}

.fondoAcademico{
    color: #1CBAD9;
}

.fondoPolitico{
    color: #DBA837;
}
mat-card-actions{
    padding-top: 0;
}
.vacancia{
    background-color: #FFE7ED;
    text-align: center;
    color: black;
}
.porcentaje{

    font-size:12px ;
}
.vacanciaTitle{
    font-size:15px ;

}
.afavor{
    color: red;
}
.noinfo{
    background-color: #C4C4C4;
    text-align: center;
    color: black;

}