.wp{
  position: relative;
  width: 100%;
  height: 100%;
  .wp_image{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 80%;
      height: 80%;

    }
  }
  .goBack{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    // bottom: 0%;
    left: 40%;
    button{
      width:20vw;
      height:5vh;
    }
  }
}

.candidatoText{
  font-size: 20px;
}
@media only screen and (max-width: 480px) {
  .candidatoText{
    font-size: 8px;
  }
}



